// =============================================================================
// Mixins
// =============================================================================
// Define the custom mixins for your project here.
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin

// Makes an element visually hidden, but accessible.
// @see http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
=element-invisible
  position: absolute !important
  height: 1px
  width: 1px
  overflow: hidden
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    clip: rect(1px 1px 1px 1px) // IE6 and IE7 use the wrong syntax.
  clip: rect(1px, 1px, 1px, 1px)

// Turns off the element-invisible effect.
=element-invisible-off
  position: static !important
  clip: auto
  height: auto
  width: auto
  overflow: auto

// Makes an element visually hidden by default, but visible when focused
=element-focusable
  +element-invisible

  &:active,
  &:focus
    +element-invisible-off

// The following mixin provides some spacing and a border between all rows in a view except for the last one. You must pass in the border color, and can optionally
// pass it a border width and style.
//
// Example usage:
//
// .view, .block-views {
//   @include views-row-common-style(#ddd);
// }

=views-row-common-style($border-color, $border-width:1px, $border-style:solid)
  .views-row
    padding-bottom: $base-leading/1.5
    border-bottom: $border-width $border-style $border-color
    margin-bottom: $base-leading/1.5

  .views-row-last
    padding-bottom: 0
    margin-bottom: 0
    border-bottom: none

// Makes block-style breadcrumbs with arrow-shaped ends that fit together nicely
=block-breadcrumbs($content-bg-colour, $bg-colour, $text-colour, $hover-bg-colour, $hover-text-colour, $font-size)
  +clearfix()
  span, li
    display: block
    float: left
    a, a:link, a:active, a:focus
      display: block
      float: left
      background: $bg-colour
      padding: 0 5px 0 15px
      margin: 0 3px 2px 0
      text-align: center
      position: relative
      line-height: 20px
      font-size: $font-size
      color: $text-colour
    a:before
      display: block
      content: ""
      position: absolute
      top: 0
      left: 0
      border-left: 10px solid $content-bg-colour
      border-top: 10px solid $bg-colour
      border-bottom: 10px solid $bg-colour
    a:after
      display: block
      content: ""
      position: absolute
      top: 0
      right: -10px
      z-index: 1
      border-left: 10px solid $bg-colour
      border-top: 10px solid transparent
      border-bottom: 10px solid transparent
    a:hover
      color: $hover-text-colour
      background: $hover-bg-colour
      &:before
        border-color: $hover-bg-colour $content-bg-colour
      &:after
        border-color: transparent $hover-bg-colour
    &:first-child, &.first
      a, a:link, a:active, a:focus
        padding-left: 10px
        &:before
          display: none

// Sets the parent element as an anchor for vertically aligned content
=vertical-center-container($height)
  position: relative
  height: $height
// Vertically aligns content to it's parent, only if position: relative is applied
=vertical-center
  position: absolute
  top: 50%
  +transform(translatey(-50%))
// Horizontally aligns content to it's parent, only if position: relative is applied
=horizontal-center
  position: absolute
  left: 50%
  +transform(translatex(-50%))
