@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900");
dd { margin: 0 40px 0 0; }

menu, ol, ul { padding: 0 40px 0 0; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { overflow-x: hidden; }

.container { position: relative; width: 100%; max-width: 1280px; height: 100%; margin-right: auto; margin-left: auto; }

#page { position: relative; }

@media all and (min-width: 768px) { .sidebar-first #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .sidebar-first .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .sidebar-second #content { float: right; width: 75%; margin-right: 0%; margin-left: -75%; }
  .sidebar-second .region-sidebar-second { float: right; width: 25%; margin-right: 75%; margin-left: -100%; }
  .two-sidebars #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .two-sidebars .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .two-sidebars .region-sidebar-second { float: right; width: 100%; margin-right: 0%; margin-left: -100%; } }
@media all and (min-width: 768px) and (max-width: 1023px) { .region-sidebar-second { clear: right; padding-left: 0; padding-right: 0; }
  .region-sidebar-second .block { padding-left: 10px; padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }
  .region-sidebar-second .block:nth-child(3n+1) { float: right; width: 33.33333%; margin-right: 0%; margin-left: -33.33333%; clear: right; }
  .region-sidebar-second .block:nth-child(3n+2) { float: right; width: 33.33333%; margin-right: 33.33333%; margin-left: -66.66667%; }
  .region-sidebar-second .block:nth-child(3n) { float: right; width: 33.33333%; margin-right: 66.66667%; margin-left: -100%; } }
@media all and (min-width: 1024px) { .sidebar-first #content { float: right; width: 75%; margin-right: 25%; margin-left: -100%; }
  .sidebar-first .region-sidebar-first { float: right; width: 25%; margin-right: 0%; margin-left: -25%; }
  .sidebar-second #content { float: right; width: 75%; margin-right: 0%; margin-left: -75%; }
  .sidebar-second .region-sidebar-second { float: right; width: 25%; margin-right: 75%; margin-left: -100%; }
  .two-sidebars #content { float: right; width: 66.66667%; margin-right: 16.66667%; margin-left: -83.33333%; }
  .two-sidebars .region-sidebar-first { float: right; width: 16.66667%; margin-right: 0%; margin-left: -16.66667%; }
  .two-sidebars .region-sidebar-second { float: right; width: 16.66667%; margin-right: 83.33333%; margin-left: -100%; } }
a { -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
a:link { color: #459059; }
a:visited { color: #459059; }
a:hover, a:focus { color: #333333; }
a:active { color: #459059; }

.block { margin-bottom: 1em; }

.breadcrumb { padding: 10px 0; }
.breadcrumb a { font-size: 0.8em; }
.breadcrumb ol { margin: 0; padding: 0; }
.breadcrumb li { display: inline; list-style-type: none; margin: 0; padding: 0; }

.contextual-links-region .contextual-links-region .contextual-links-wrapper, .block-views > .contextual-links-wrapper, .view > .contextual-links-wrapper { margin-right: 50px; }

div.contextual-links-wrapper a.contextual-links-trigger { background-color: white; padding: 0 2px; width: 40px; height: 28px; border: 4px solid white; text-decoration: none; outline: none; text-indent: -999em; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

div.contextual-links-active a.contextual-links-trigger { background-color: #e0e8ed; border: 4px solid #e0e8ed; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -ms-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }

div.contextual-links-wrapper ul.contextual-links { top: 28px; border: none; background: #e0e8ed; padding: 5px 0; -webkit-border-radius: 2px 0 2px 2px; -moz-border-radius: 2px 0 2px 2px; -ms-border-radius: 2px 0 2px 2px; -o-border-radius: 2px 0 2px 2px; border-radius: 2px 0 2px 2px; }

div.contextual-links-wrapper ul.contextual-links li a { padding: 10px; background: #e0e8ed !important; color: #88939b; font-weight: bold; letter-spacing: 1px; text-decoration: none !important; margin: 0; transition: none; }
div.contextual-links-wrapper ul.contextual-links li a:hover { background: #c3ced6 !important; color: #e1e7ec; text-decoration: none !important; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }

ul.action-links { overflow: hidden; margin: 1em 0; padding: 0 20px 0 20px; list-style-type: none; }
ul.action-links li { float: left; margin: 0 1em 0 0; }
ul.action-links li a { padding-left: 15px; background: transparent url(../images/add.png) no-repeat 0 center; }

html.js .collapsible .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg=='); background-position: 5px 65%; background-repeat: no-repeat; padding-left: 15px; }
html.js .collapsed .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC'); background-position: 5px 50%; }
.fieldset-legend .summary { color: #999999; font-size: 0.9em; margin-left: 0.5em; }

.comments { margin: 1em 0; }

.comment-preview { background-color: #ffffea; }

.comment .permalink { text-transform: uppercase; font-size: 75%; }

#user-login-form { text-align: left; }

.new, .update { color: #cc0000; background-color: transparent; }

.messages, .messages--status, .messages--warning, .messages--error { margin: 1em 0; padding: 10px; background: #dddddd; border-left: 10px solid #888888; }

.messages--status { border-color: #038a00; }

.messages--warning { border-color: #d1a700; }

.messages--error { border-color: #ed541d; }

.messages__list { margin: 0; }

.messages__item { list-style-image: none; }

.messages--error p.error { color: #333333; }

.ok, .messages--status { background-color: #c0ff9a; color: #234600; }

.warning, .messages--warning { background-color: #fff5a8; color: #884400; }

.error, .messages--error { background-color: #ffbdb0; color: #8c2e0b; }

.more-link { text-align: right; }

.more-help-link { text-align: right; }

.more-help-link a { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7UlEQVR42qWTPQqDQBCFcwSPkCNITpAj5AjeIm1uYpkyR7Cy2Mot7OwsBAsRwUKwmOwLGRle3EIy8PyBfZ/z3J2TiPylz8VWWZZpUB40BonRKyizaxkA88MYYiqCEgv4MTvnZJom0VqWRbz3FlJZgLYtqmEY1Lg9r+sKsIXcLSC3AC019H0vqLquLeC5AfiHYSGkcdAJimKIBQiJ4+CO92OAtm0FNc8zOjkMwE5Q63FAtbeg6zpAYvG8BWR7i5qmQYwY4MIHqYhE2DOPQWcGJBQF2XU72ZzyUeZ5GCNt5/hybJgYdAXsq5sOEE/jG6dC5IOqCXTmAAAAAElFTkSuQmCC'); background-position: 0 50%; background-repeat: no-repeat; padding: 1px 0 1px 20px; }

.unpublished { display: block; height: 0; overflow: visible; background-color: transparent; color: #d8d8d8; font-size: 75px; line-height: 1; font-family: Impact, "Arial Narrow", Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; text-align: center; word-wrap: break-word; }

.indented { margin-left: 40px; }

.openid-links { margin-bottom: 0; }

.openid-link, .user-link { margin-top: 1em; }

html.js #user-login-form li.openid-link, #user-login-form li.openid-link { margin-left: -20px; }

#user-login ul { margin: 1em 0; }

#skip-link { margin: 0; }
#skip-link a, #skip-link a:visited { display: block; width: 100%; padding: 2px 0 3px 0; text-align: center; background-color: #6a6a6a; color: white; }

.region-footer { padding: 20px 10px; border-top: 1px solid #cccccc; }

input, textarea, select, button, a.button { font-size: 1em; line-height: 1em; }

.ajax-progress { font-size: 0.7em; line-height: 1.3em; }

.form-actions { margin: 0.5em 0; }
.form-actions a { font-size: 1.2em; line-height: 1em; }

.form-required { display: inline-block; overflow: hidden; text-indent: -3000em; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 10px solid #cc0000; border-left: none; height: 0; width: 0; }

.form-item.form-type-radio, .form-item.form-type-checkbox { margin: 10px 0; }

.form-item.form-type-radio label, .form-item.form-type-checkbox label { font-size: 1em; }

input.form-text, input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select { border: 1px solid #aaaaaa; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -moz-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -o-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; padding: 4px; background-color: #f6f6f6; }

input.form-text.error, input[type="text"].error, input[type="password"].error, input[type="search"].error, input[type="email"].error, textarea.error, select.error { -webkit-box-shadow: 0 0 4px 0 #cc0000; -moz-box-shadow: 0 0 4px 0 #cc0000; box-shadow: 0 0 4px 0 #cc0000; }

input.form-text:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus, select:focus { border-color: #444444; -webkit-box-shadow: 0 0 6px 0 #008aff; -moz-box-shadow: 0 0 6px 0 #008aff; box-shadow: 0 0 6px 0 #008aff; outline: none; background-color: white; }

input.form-text:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, textarea:disabled, select:disabled { border-color: #dddddd; color: #bbbbbb; }

button, html input[type="button"], input[type="reset"], input[type="submit"], a.button { -webkit-transition: color 0.4s, background-color 0.4s; -moz-transition: color 0.4s, background-color 0.4s; -o-transition: color 0.4s, background-color 0.4s; transition: color 0.4s, background-color 0.4s; margin: 0 10px 0 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #cccccc; border: none; display: inline-block; padding: 10px 30px; color: #222222; }

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover { background: #666666; color: white; }

input[type="submit"][id^="edit-submit"], input#edit-actions-submit, input[id^="save-continue"], input[type="submit"][id^="edit-save"], input#edit-save, input#edit-submit, input#edit-actions-save, input.webform-submit.button-primary, .field-widget-inline-entity-form .container-inline .form-submit, #media-browser-page a.button-yes, input.add-new-condition, #edit-field-product-und-form-actions input.ief-entity-submit { background: #459059; color: white; }

input[type="submit"][id^="edit-submit"]:hover, input#edit-actions-submit:hover, input[id^="save-continue"]:hover, input[type="submit"][id^="edit-save"]:hover, input#edit-save:hover, input#edit-submit:hover, input#edit-actions-save:hover, input.webform-submit.button-primary:hover, .field-widget-inline-entity-form .container-inline .form-submit:hover, #media-browser-page a.button-yes:hover, input.add-new-condition:hover, #edit-field-product-und-form-actions input.ief-entity-submit:hover { background: #256a37; color: white; }

input#edit-delete, input#remove-button, input#edit-remove, input#edit-clear, a.button.remove, .page-node-delete input#edit-submit, input[id*="remove-button"], .page-admin-modules-uninstall input#edit-submit, .remove-condition input, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit { background: #ad3636; color: white; }

input#edit-delete:hover, input#remove-button:hover, input#edit-remove:hover, input#edit-clear:hover, a.button.remove:hover, .page-node-delete input#edit-submit:hover, input[id*="remove-button"]:hover, .page-admin-modules-uninstall input#edit-submit:hover, .remove-condition input:hover, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:hover { background: #761f1f; color: white; }

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, a.button:active { background: #bbbbbb; color: #eeeeee; }

button:disabled, html input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, a.button:disabled { background: #eeeeee; color: #aaaaaa; }

fieldset { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
fieldset legend { font-size: 1.4em; padding: 10px 25px; border: none; background-color: #eeeeee; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

#cboxContent button { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent; box-shadow: 0 0 0 0 transparent; border: none; }

.form-item { margin: 1em 0; }
.form-checkboxes .form-item, .form-radios .form-item { margin: 0; }
tr.odd .form-item, tr.even .form-item { margin: 0; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
.form-item .description { font-size: 0.85em; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2.4em; }

.form-required { color: #cc0000; }

label.option { display: inline; font-weight: normal; }

.password-parent, .confirm-parent { margin: 0; }

#top-bar { height: 40px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); position: relative; height: 40px; }

#header { margin-bottom: 0; height: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#header .container { position: relative; height: 60px; }

#branding { position: relative; z-index: 12; }
@media all and (min-width: 768px) { #branding { float: left; width: 50%; } }

#name-and-slogan { position: relative; height: 60px; }

.header__logo { float: left; max-width: 20%; }

.header__logo-image { display: block; width: auto; height: 60px; padding: 5px; }

.header__name-and-slogan { position: relative; width: 100%; height: 100%; float: left; }
.header__name-and-slogan.header__with-logo { width: 80%; }

.header__site-name { font-size: 2em; margin: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__with-slogan .header__site-name { line-height: 0.8em; }
@media only screen and (max-width: 768px) { .header__site-name { font-size: 1.6em; } }
@media only screen and (max-width: 480px) { .header__site-name { font-size: 1.2em; } }

.header__site-link { text-decoration: none; }
.header__site-link:link { color: #459059; }
.header__site-link:visited { color: #459059; }
.header__site-link:hover, .header__site-link:focus { color: black; }
.header__site-link:active { color: #459059; }

.header__site-slogan { display: block; margin: 0; color: #999999; }

.header__site-slogan { font-size: 0.6em; font-weight: 300; }
@media only screen and (max-width: 768px) { .header__site-slogan { font-size: 0.48em; } }

.header__secondary-menu { right: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__secondary-menu a { font-size: 0.8em; text-decoration: none; color: #999999; }
.header__secondary-menu a:focus, .header__secondary-menu a:hover { color: #333333; }

.element-invisible, #navigation .block-menu .block__title, #navigation .block-menu-block .block__title, .element-focusable { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.element-focusable:active, .element-focusable:focus { position: static !important; clip: auto; height: auto; width: auto; overflow: auto; }

#autocomplete .selected { background: #0072b9; color: white; }

/* Titles */
.page__title, .node__title, .block__title, .comments__title, .comments__form-title, .comment__title { margin: 0; }

.image-left { float: left; padding: 0; margin: 0 10px 10px 0; }

.image-right { float: right; padding: 0; margin: 0 0 10px 10px; }

.inline { display: inline; padding: 0; }
.inline li { display: inline; list-style-type: none; padding: 0 1em 0 0; }

span.field-label { padding: 0 1em 0 0; }

.progress { font-weight: bold; }
.progress .bar { background: #cccccc; border-color: #666666; margin: 0 0.2em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.progress .filled { background-color: #0072b9; background-image: url('../images/progress.gif?1476985491'); }

.with-wireframes #header, .with-wireframes #main, .with-wireframes #content, .with-wireframes #navigation, .with-wireframes .region-sidebar-first, .with-wireframes .region-sidebar-second, .with-wireframes #footer, .with-wireframes .region-bottom { outline: 1px solid #cccccc; }

#navigation { display: block; overflow: hidden; }
#navigation .links, #navigation .menu { margin: 0; padding: 0; text-align: left; }
#navigation .links a, #navigation .menu a { padding: 10px; color: #459059; text-decoration: none; }
#navigation .links a:focus, #navigation .links a:hover, #navigation .menu a:focus, #navigation .menu a:hover { color: #333333; }
#navigation .links li, #navigation .menu li { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }
#navigation .links li:last-child a, #navigation .menu li:last-child a { padding-right: 0; }
@media all and (min-width: 768px) { #navigation .links li, #navigation .menu li { display: inline-block; float: left; margin: 0 5px 0 0; } }
@media all and (max-width: 767px) { #navigation .links a, #navigation .menu a { display: block; padding: 10px 20px; width: 100%; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
  #navigation .links a:focus, #navigation .links a:hover, #navigation .menu a:focus, #navigation .menu a:hover { background-color: #459059; color: white; } }
#navigation #main-menu, #navigation .region-navigation { display: block; }
@media all and (min-width: 768px) { #navigation #main-menu, #navigation .region-navigation { display: inline-block; right: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); } }
#navigation #main-menu .block__title, #navigation .region-navigation .block__title { display: none; }
@media all and (max-width: 767px) { #navigation { max-height: 0; padding: 0; background: #f9f9f9; -webkit-box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); -moz-box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); }
  #navigation.active { height: auto; max-height: 1000px; -webkit-transition-property: max-height; -moz-transition-property: max-height; -o-transition-property: max-height; transition-property: max-height; -webkit-transition-duration: 0; -moz-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; } }
#navigation .block { margin-bottom: 0; }

#nav-button { display: none; right: 10px; z-index: 13; width: 38px; height: 30px; background-color: #459059; border: 1px solid #459059; font-size: 0; text-align: center; text-decoration: none; outline: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: border-color, 0.2s, ease-in-out; -moz-transition: border-color, 0.2s, ease-in-out; -o-transition: border-color, 0.2s, ease-in-out; transition: border-color, 0.2s, ease-in-out; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
#nav-button:before { display: block; content: "\f0c9"; color: white; font: normal normal normal 14px/1 FontAwesome; font-size: 18px; line-height: 30px; -webkit-transition: color, 0.2s, ease-in-out; -moz-transition: color, 0.2s, ease-in-out; -o-transition: color, 0.2s, ease-in-out; transition: color, 0.2s, ease-in-out; }
#nav-button:hover { cursor: pointer; background-color: white; }
#nav-button:hover:before { color: #459059; }
@media all and (max-width: 767px) { #nav-button { display: block; } }

.menu__item.is-leaf { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC'); list-style-type: square; }

.menu__item.is-expanded { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg=='); list-style-type: circle; }

.menu__item.is-collapsed { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC'); list-style-type: disc; }

.pager { clear: both; padding: 0; text-align: center; }

.pager-item, .pager-first, .pager-previous, .pager-next, .pager-last, .pager-ellipsis, .pager-current { display: inline; padding: 0 0.5em; list-style-type: none; background-image: none; }

.pager-current { font-weight: bold; }

form th { text-align: left; padding-right: 1em; border-bottom: 3px solid #cccccc; }
form tbody { border-top: 1px solid #cccccc; }
form table ul { margin: 0; }

tr.even, tr.odd { background-color: #eeeeee; border-bottom: 1px solid #cccccc; padding: 0.1em 0.6em; }

tr.even { background-color: white; }

td.active { background-color: #dddddd; }

td.checkbox, th.checkbox { text-align: center; }

td.menu-disabled { background: #cccccc; }

tr.drag { background-color: ivory; }

tr.drag-previous { background-color: #ffffdd; }

.tabledrag-toggle-weight { font-size: 0.9em; }

tr.selected td { background: #ffffcc; }

.tabs-primary, .tabs-secondary { overflow: hidden; border-bottom: 5px solid #c3ced6; list-style: none; margin: 1em 0; padding: 0 2px; white-space: nowrap; }

.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab, .tabs-secondary__tab.is-active { float: left; margin: 0 3px; }

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active, a.tabs-primary__tab-link:link, a.tabs-primary__tab-link:visited, a.tabs-primary__tab-link:focus, a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { border-right: 0; border-bottom: 0; display: block; text-decoration: none; }

/* Primary tabs */
.tabs-primary__tab, .tabs-primary__tab.is-active { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; border: none; }

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active, a.tabs-primary__tab-link:link, a.tabs-primary__tab-link:visited, a.tabs-primary__tab-link:focus { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; color: #88939b; background-color: #e0e8ed; letter-spacing: 1px; padding: 5px 1em; text-align: center; }

a.tabs-primary__tab-link:hover { background-color: #c3ced6; color: #222a30; }

a.tabs-primary__tab-link:active, a.tabs-primary__tab-link.is-active { background: #c3ced6; color: #222a30; }

a.tabs-primary__tab-link.is-active:hover { background: #607583; color: #e1e7ec; }

.tabs-secondary { font-size: 0.9em; margin-top: -1em; border-bottom: none; }

.tabs-secondary__tab, .tabs-secondary__tab.is-active { margin: 0.5em 3px; }

a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background-color: #e0e8ed; color: #88939b; padding: 3px 0.7em; }

a.tabs-secondary__tab-link:hover { background-color: #c3ced6; color: #222a30; }

a.tabs-secondary__tab-link:active, a.tabs-secondary__tab-link.is-active { background: #c3ced6; color: #222a30; }

a.tabs-secondary__tab-link.is-active:hover { background: #607583; color: #e1e7ec; }

.header__logo { float: right; }

.header__secondary-menu { float: left; }

#navigation .links, #navigation .menu { text-align: right; }
#navigation .links li, #navigation .menu li { float: right; padding: 0 0 0 10px; }

.messages, .messages--status, .messages--warning, .messages--error { padding: 10px 50px 10px 10px; background-position: 99% 8px; }

.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab, .tabs-secondary__tab.is-active { float: right; }

.inline li { display: inline-block; padding: 0 0 0 1em; }

span.field-label { padding: 0 0 0 1em; }

.more-link { text-align: left; }

.more-help-link { text-align: left; }

.more-help-link a { background-position: 100% 50%; padding: 1px 20px 1px 0; }

.menu__item.is-collapsed { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII='); }

#user-login-form { text-align: right; }

html.js #user-login-form li.openid-link, #user-login-form li.openid-link { margin-left: 0; margin-right: -20px; }

form th { text-align: right; padding-left: 1em; padding-right: 0; }

html.js .collapsible .fieldset-legend { background-position: 98% 75%; padding-left: 0; padding-right: 15px; }
html.js .collapsed .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABNJREFUCB1j4GASYFJgcmD+A4IADUIDfIUMT4wAAAAASUVORK5CYII='); background-position: 98% 50%; }
