@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900");
html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

body { overflow-x: hidden; }

.container { position: relative; width: 100%; max-width: 1280px; height: 100%; margin-right: auto; margin-left: auto; }

#header, #icing, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer { padding-left: 10px; padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }

#header:before, #header:after, #main:before, #main:after, #footer:before, #footer:after { content: ""; display: table; }
#header:after, #main:after, #footer:after { clear: both; }

#navigation { position: absolute; top: 40px; right: 0; z-index: 11; width: 100%; height: 100%; max-height: 60px; }
#navigation.no-top-bar { top: 0; }
@media all and (max-width: 767px) { #navigation { top: 100px; right: initial; left: 0; }
  #navigation.no-top-bar { top: 60px; } }

#page { position: relative; }

@media all and (min-width: 768px) { .sidebar-first #content { float: left; width: 75%; margin-left: 25%; margin-right: -100%; }
  .sidebar-first .region-sidebar-first { float: left; width: 25%; margin-left: 0%; margin-right: -25%; }
  .sidebar-second #content { float: left; width: 75%; margin-left: 0%; margin-right: -75%; }
  .sidebar-second .region-sidebar-second { float: left; width: 25%; margin-left: 75%; margin-right: -100%; }
  .two-sidebars #content { float: left; width: 75%; margin-left: 25%; margin-right: -100%; }
  .two-sidebars .region-sidebar-first { float: left; width: 25%; margin-left: 0%; margin-right: -25%; }
  .two-sidebars .region-sidebar-second { float: left; width: 100%; margin-left: 0%; margin-right: -100%; } }
@media all and (min-width: 768px) and (max-width: 1023px) { .region-sidebar-second { clear: left; padding-left: 0; padding-right: 0; }
  .region-sidebar-second .block { padding-left: 10px; padding-right: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; word-wrap: break-word; }
  .region-sidebar-second .block:nth-child(3n+1) { float: left; width: 33.33333%; margin-left: 0%; margin-right: -33.33333%; clear: left; }
  .region-sidebar-second .block:nth-child(3n+2) { float: left; width: 33.33333%; margin-left: 33.33333%; margin-right: -66.66667%; }
  .region-sidebar-second .block:nth-child(3n) { float: left; width: 33.33333%; margin-left: 66.66667%; margin-right: -100%; } }
@media all and (min-width: 1024px) { .sidebar-first #content { float: left; width: 75%; margin-left: 25%; margin-right: -100%; }
  .sidebar-first .region-sidebar-first { float: left; width: 25%; margin-left: 0%; margin-right: -25%; }
  .sidebar-second #content { float: left; width: 75%; margin-left: 0%; margin-right: -75%; }
  .sidebar-second .region-sidebar-second { float: left; width: 25%; margin-left: 75%; margin-right: -100%; }
  .two-sidebars #content { float: left; width: 66.66667%; margin-left: 16.66667%; margin-right: -83.33333%; }
  .two-sidebars .region-sidebar-first { float: left; width: 16.66667%; margin-left: 0%; margin-right: -16.66667%; }
  .two-sidebars .region-sidebar-second { float: left; width: 16.66667%; margin-left: 83.33333%; margin-right: -100%; } }
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; }

nav:focus, #navigation { outline: none; }

audio, canvas, video { display: inline-block; }

audio:not([controls]) { display: none; height: 0; }

[hidden] { display: none; }

html { font-family: "Montserrat", sans-serif; font-size: 100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; padding: 0; }

body.cke_editable { padding: 10px !important; background: white !important; color: black !important; }
body.cke_editable table { border-collapse: separate; border-spacing: 2px; }
body.cke_editable table th, body.cke_editable table td { border: 1px dashed #bbbbbb; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

blockquote { margin: 1em 40px; }

#content { font-size: 1em; line-height: 1.5em; }

p, .field { margin: 0.5em 0 1em; }

#admin-menu li { font-size: inherit; line-height: inherit; }

li p, li h1, li h2, li h3, li h4, li h5, li h6 { margin: 0; }

h1 { font-size: 2.3em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h1 { font-size: 1.84em; } }

h2 { font-size: 1.9em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h2 { font-size: 1.52em; } }

h3 { font-size: 1.4em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h3 { font-size: 1.12em; } }

h4 { font-size: 1.15em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h4 { font-size: 0.92em; } }

h5 { font-size: 1em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h5 { font-size: 0.8em; } }

h6 { font-size: 0.8em; line-height: 1em; margin: 1.1em 0 0.5em; }
@media all and (max-width: 767px) { h6 { font-size: 0.64em; } }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 { font-size-adjust: 0.5; }

.rteindent1 { margin-left: 40px; }

.rteindent2 { margin-left: 80px; }

.rteindent3 { margin-left: 120px; }

.rteindent4 { margin-left: 160px; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

hr { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; height: 0; border: 1px solid #666666; padding-bottom: -1px; margin: 0.5em 0; }

mark { background: yellow; color: black; }

code, kbd, pre, samp, tt, var { font-family: "Courier New", "DejaVu Sans Mono", monospace, sans-serif; font-size: 1em; }

pre { white-space: pre-wrap; }

form { margin: 1em 0; }

q { quotes: "\201C" "\201D" "\2018" "\2019"; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

ul, ol, dl, menu { margin: 0.5em 0 1em; }

li, dd { line-height: 1.5em; margin: 0.5em 0; }

li li, li p, li dd, dd dd, dd li, dd p { font-size: inherit; }

li p, dd p { margin: 0; }

ol ol, ol ul, ul ol, ul ul { margin: 0; }

menu, ol, ul { padding: 0 0 0 40px; }

img { border: 0; max-width: 100%; height: auto; }
.lt-ie9 img { width: auto; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

fieldset { margin: 1em 0; border: 1px solid #cccccc; padding: 1em; }

legend { border: 0; padding: 0; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; max-width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

button, input { line-height: normal; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0; }

input[type="search"] { -webkit-appearance: textfield; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

label { display: block; font-weight: normal; font-size: 1.2em; }

table { border-collapse: collapse; border-spacing: 0; margin: 1em 0; width: 100%; }
table th { text-align: left; }
table th, table td { vertical-align: top; padding: 8px 10px; }

a { -webkit-transition-property: color; -moz-transition-property: color; -o-transition-property: color; transition-property: color; -webkit-transition-duration: 0.1s; -moz-transition-duration: 0.1s; -o-transition-duration: 0.1s; transition-duration: 0.1s; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; }
a:link { color: #459059; }
a:visited { color: #459059; }
a:hover, a:focus { color: #333333; }
a:active { color: #459059; }

.block { margin-bottom: 1em; }

.breadcrumb { padding: 10px 0; }
.breadcrumb a { font-size: 0.8em; }
.breadcrumb ol { margin: 0; padding: 0; }
.breadcrumb li { display: inline; list-style-type: none; margin: 0; padding: 0; }

.contextual-links-region .contextual-links-region .contextual-links-wrapper, .block-views > .contextual-links-wrapper, .view > .contextual-links-wrapper { margin-right: 50px; }

div.contextual-links-wrapper a.contextual-links-trigger { background-color: white; padding: 0 2px; width: 40px; height: 28px; border: 4px solid white; text-decoration: none; outline: none; text-indent: -999em; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

div.contextual-links-active a.contextual-links-trigger { background-color: #e0e8ed; border: 4px solid #e0e8ed; -webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; -ms-border-radius: 2px 2px 0 0; -o-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; }

div.contextual-links-wrapper ul.contextual-links { top: 28px; border: none; background: #e0e8ed; padding: 5px 0; -webkit-border-radius: 2px 0 2px 2px; -moz-border-radius: 2px 0 2px 2px; -ms-border-radius: 2px 0 2px 2px; -o-border-radius: 2px 0 2px 2px; border-radius: 2px 0 2px 2px; }

div.contextual-links-wrapper ul.contextual-links li a { padding: 10px; background: #e0e8ed !important; color: #88939b; font-weight: bold; letter-spacing: 1px; text-decoration: none !important; margin: 0; transition: none; }
div.contextual-links-wrapper ul.contextual-links li a:hover { background: #c3ced6 !important; color: #e1e7ec; text-decoration: none !important; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; }

ul.action-links { overflow: hidden; margin: 1em 0; padding: 0 20px 0 20px; list-style-type: none; }
ul.action-links li { float: left; margin: 0 1em 0 0; }
ul.action-links li a { padding-left: 15px; background: transparent url(../images/add.png) no-repeat 0 center; }

html.js .collapsible .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg=='); background-position: 5px 65%; background-repeat: no-repeat; padding-left: 15px; }
html.js .collapsed .fieldset-legend { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC'); background-position: 5px 50%; }
.fieldset-legend .summary { color: #999999; font-size: 0.9em; margin-left: 0.5em; }

.comments { margin: 1em 0; }

.comment-preview { background-color: #ffffea; }

.comment .permalink { text-transform: uppercase; font-size: 75%; }

#user-login-form { text-align: left; }

.new, .update { color: #cc0000; background-color: transparent; }

.messages, .messages--status, .messages--warning, .messages--error { margin: 1em 0; padding: 10px; background: #dddddd; border-left: 10px solid #888888; }

.messages--status { border-color: #038a00; }

.messages--warning { border-color: #d1a700; }

.messages--error { border-color: #ed541d; }

.messages__list { margin: 0; }

.messages__item { list-style-image: none; }

.messages--error p.error { color: #333333; }

.ok, .messages--status { background-color: #c0ff9a; color: #234600; }

.warning, .messages--warning { background-color: #fff5a8; color: #884400; }

.error, .messages--error { background-color: #ffbdb0; color: #8c2e0b; }

.more-link { text-align: right; }

.more-help-link { text-align: right; }

.more-help-link a { background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA7UlEQVR42qWTPQqDQBCFcwSPkCNITpAj5AjeIm1uYpkyR7Cy2Mot7OwsBAsRwUKwmOwLGRle3EIy8PyBfZ/z3J2TiPylz8VWWZZpUB40BonRKyizaxkA88MYYiqCEgv4MTvnZJom0VqWRbz3FlJZgLYtqmEY1Lg9r+sKsIXcLSC3AC019H0vqLquLeC5AfiHYSGkcdAJimKIBQiJ4+CO92OAtm0FNc8zOjkMwE5Q63FAtbeg6zpAYvG8BWR7i5qmQYwY4MIHqYhE2DOPQWcGJBQF2XU72ZzyUeZ5GCNt5/hybJgYdAXsq5sOEE/jG6dC5IOqCXTmAAAAAElFTkSuQmCC'); background-position: 0 50%; background-repeat: no-repeat; padding: 1px 0 1px 20px; }

.unpublished { display: block; height: 0; overflow: visible; background-color: transparent; color: #d8d8d8; font-size: 75px; line-height: 1; font-family: Impact, "Arial Narrow", Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; text-align: center; word-wrap: break-word; }

.indented { margin-left: 40px; }

.openid-links { margin-bottom: 0; }

.openid-link, .user-link { margin-top: 1em; }

html.js #user-login-form li.openid-link, #user-login-form li.openid-link { margin-left: -20px; }

#user-login ul { margin: 1em 0; }

#skip-link { margin: 0; }
#skip-link a, #skip-link a:visited { display: block; width: 100%; padding: 2px 0 3px 0; text-align: center; background-color: #6a6a6a; color: white; }

.region-footer { padding: 20px 10px; border-top: 1px solid #cccccc; }

input, textarea, select, button, a.button { font-size: 1em; line-height: 1em; }

.ajax-progress { font-size: 0.7em; line-height: 1.3em; }

.form-actions { margin: 0.5em 0; }
.form-actions a { font-size: 1.2em; line-height: 1em; }

.form-required { display: inline-block; overflow: hidden; text-indent: -3000em; border-top: 7px solid transparent; border-bottom: 7px solid transparent; border-right: 10px solid #cc0000; border-left: none; height: 0; width: 0; }

.form-item.form-type-radio, .form-item.form-type-checkbox { margin: 10px 0; }

.form-item.form-type-radio label, .form-item.form-type-checkbox label { font-size: 1em; }

input.form-text, input[type="text"], input[type="password"], input[type="search"], input[type="email"], textarea, select { border: 1px solid #aaaaaa; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -moz-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; -o-transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; transition: color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s; padding: 4px; background-color: #f6f6f6; }

input.form-text.error, input[type="text"].error, input[type="password"].error, input[type="search"].error, input[type="email"].error, textarea.error, select.error { -webkit-box-shadow: 0 0 4px 0 #cc0000; -moz-box-shadow: 0 0 4px 0 #cc0000; box-shadow: 0 0 4px 0 #cc0000; }

input.form-text:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="email"]:focus, textarea:focus, select:focus { border-color: #444444; -webkit-box-shadow: 0 0 6px 0 #008aff; -moz-box-shadow: 0 0 6px 0 #008aff; box-shadow: 0 0 6px 0 #008aff; outline: none; background-color: white; }

input.form-text:disabled, input[type="text"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled, textarea:disabled, select:disabled { border-color: #dddddd; color: #bbbbbb; }

button, html input[type="button"], input[type="reset"], input[type="submit"], a.button { -webkit-transition: color 0.4s, background-color 0.4s; -moz-transition: color 0.4s, background-color 0.4s; -o-transition: color 0.4s, background-color 0.4s; transition: color 0.4s, background-color 0.4s; margin: 0 10px 0 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #cccccc; border: none; display: inline-block; padding: 10px 30px; color: #222222; }

button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, a.button:hover { background: #666666; color: white; }

input[type="submit"][id^="edit-submit"], input#edit-actions-submit, input[id^="save-continue"], input[type="submit"][id^="edit-save"], input#edit-save, input#edit-submit, input#edit-actions-save, input.webform-submit.button-primary, .field-widget-inline-entity-form .container-inline .form-submit, #media-browser-page a.button-yes, input.add-new-condition, #edit-field-product-und-form-actions input.ief-entity-submit { background: #459059; color: white; }

input[type="submit"][id^="edit-submit"]:hover, input#edit-actions-submit:hover, input[id^="save-continue"]:hover, input[type="submit"][id^="edit-save"]:hover, input#edit-save:hover, input#edit-submit:hover, input#edit-actions-save:hover, input.webform-submit.button-primary:hover, .field-widget-inline-entity-form .container-inline .form-submit:hover, #media-browser-page a.button-yes:hover, input.add-new-condition:hover, #edit-field-product-und-form-actions input.ief-entity-submit:hover { background: #256a37; color: white; }

input#edit-delete, input#remove-button, input#edit-remove, input#edit-clear, a.button.remove, .page-node-delete input#edit-submit, input[id*="remove-button"], .page-admin-modules-uninstall input#edit-submit, .remove-condition input, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit { background: #ad3636; color: white; }

input#edit-delete:hover, input#remove-button:hover, input#edit-remove:hover, input#edit-clear:hover, a.button.remove:hover, .page-node-delete input#edit-submit:hover, input[id*="remove-button"]:hover, .page-admin-modules-uninstall input#edit-submit:hover, .remove-condition input:hover, .field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:hover { background: #761f1f; color: white; }

button:active, html input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active, a.button:active { background: #bbbbbb; color: #eeeeee; }

button:disabled, html input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled, a.button:disabled { background: #eeeeee; color: #aaaaaa; }

fieldset { -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
fieldset legend { font-size: 1.4em; padding: 10px 25px; border: none; background-color: #eeeeee; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }

#cboxContent button { -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; -webkit-box-shadow: 0 0 0 0 transparent; -moz-box-shadow: 0 0 0 0 transparent; box-shadow: 0 0 0 0 transparent; border: none; }

.form-item { margin: 1em 0; }
.form-checkboxes .form-item, .form-radios .form-item { margin: 0; }
tr.odd .form-item, tr.even .form-item { margin: 0; }
.form-item input.error, .form-item textarea.error, .form-item select.error { border: 1px solid #cc0000; }
.form-item .description { font-size: 0.85em; }

.form-type-radio .description, .form-type-checkbox .description { margin-left: 2.4em; }

.form-required { color: #cc0000; }

label.option { display: inline; font-weight: normal; }

.password-parent, .confirm-parent { margin: 0; }

#top-bar { height: 40px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); position: relative; height: 40px; }

#header { margin-bottom: 0; height: 60px; border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
#header .container { position: relative; height: 60px; }

#branding { position: relative; z-index: 12; }
@media all and (min-width: 768px) { #branding { float: left; width: 50%; } }

#name-and-slogan { position: relative; height: 60px; }

.header__logo { float: left; max-width: 20%; }

.header__logo-image { display: block; width: auto; height: 60px; padding: 5px; }

.header__name-and-slogan { position: relative; width: 100%; height: 100%; float: left; }
.header__name-and-slogan.header__with-logo { width: 80%; }

.header__site-name { font-size: 2em; margin: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__with-slogan .header__site-name { line-height: 0.8em; }
@media only screen and (max-width: 768px) { .header__site-name { font-size: 1.6em; } }
@media only screen and (max-width: 480px) { .header__site-name { font-size: 1.2em; } }

.header__site-link { text-decoration: none; }
.header__site-link:link { color: #459059; }
.header__site-link:visited { color: #459059; }
.header__site-link:hover, .header__site-link:focus { color: black; }
.header__site-link:active { color: #459059; }

.header__site-slogan { display: block; margin: 0; color: #999999; }

.header__site-slogan { font-size: 0.6em; font-weight: 300; }
@media only screen and (max-width: 768px) { .header__site-slogan { font-size: 0.48em; } }

.header__secondary-menu { right: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
.header__secondary-menu a { font-size: 0.8em; text-decoration: none; color: #999999; }
.header__secondary-menu a:focus, .header__secondary-menu a:hover { color: #333333; }

.element-invisible, #navigation .block-menu .block__title, #navigation .block-menu-block .block__title, .element-focusable { position: absolute !important; height: 1px; width: 1px; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); }

.element-focusable:active, .element-focusable:focus { position: static !important; clip: auto; height: auto; width: auto; overflow: auto; }

#autocomplete .selected { background: #0072b9; color: white; }

/* Titles */
.page__title, .node__title, .block__title, .comments__title, .comments__form-title, .comment__title { margin: 0; }

.image-left { float: left; padding: 0; margin: 0 10px 10px 0; }

.image-right { float: right; padding: 0; margin: 0 0 10px 10px; }

.inline { display: inline; padding: 0; }
.inline li { display: inline; list-style-type: none; padding: 0 1em 0 0; }

span.field-label { padding: 0 1em 0 0; }

.progress { font-weight: bold; }
.progress .bar { background: #cccccc; border-color: #666666; margin: 0 0.2em; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.progress .filled { background-color: #0072b9; background-image: url('../images/progress.gif?1476985491'); }

.with-wireframes #header, .with-wireframes #main, .with-wireframes #content, .with-wireframes #navigation, .with-wireframes .region-sidebar-first, .with-wireframes .region-sidebar-second, .with-wireframes #footer, .with-wireframes .region-bottom { outline: 1px solid #cccccc; }

#navigation { display: block; overflow: hidden; }
#navigation .links, #navigation .menu { margin: 0; padding: 0; text-align: left; }
#navigation .links a, #navigation .menu a { padding: 10px; color: #459059; text-decoration: none; }
#navigation .links a:focus, #navigation .links a:hover, #navigation .menu a:focus, #navigation .menu a:hover { color: #333333; }
#navigation .links li, #navigation .menu li { display: block; margin: 0; padding: 0; list-style-type: none; list-style-image: none; }
#navigation .links li:last-child a, #navigation .menu li:last-child a { padding-right: 0; }
@media all and (min-width: 768px) { #navigation .links li, #navigation .menu li { display: inline-block; float: left; margin: 0 5px 0 0; } }
@media all and (max-width: 767px) { #navigation .links a, #navigation .menu a { display: block; padding: 10px 20px; width: 100%; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; }
  #navigation .links a:focus, #navigation .links a:hover, #navigation .menu a:focus, #navigation .menu a:hover { background-color: #459059; color: white; } }
#navigation #main-menu, #navigation .region-navigation { display: block; }
@media all and (min-width: 768px) { #navigation #main-menu, #navigation .region-navigation { display: inline-block; right: 0; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); } }
#navigation #main-menu .block__title, #navigation .region-navigation .block__title { display: none; }
@media all and (max-width: 767px) { #navigation { max-height: 0; padding: 0; background: #f9f9f9; -webkit-box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); -moz-box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); box-shadow: 2px 5px 5px 0px rgba(204, 204, 204, 0.5); }
  #navigation.active { height: auto; max-height: 1000px; -webkit-transition-property: max-height; -moz-transition-property: max-height; -o-transition-property: max-height; transition-property: max-height; -webkit-transition-duration: 0; -moz-transition-duration: 0; -o-transition-duration: 0; transition-duration: 0; -webkit-transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; transition-timing-function: ease-in-out; } }
#navigation .block { margin-bottom: 0; }

#nav-button { display: none; right: 10px; z-index: 13; width: 38px; height: 30px; background-color: #459059; border: 1px solid #459059; font-size: 0; text-align: center; text-decoration: none; outline: 0; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -webkit-transition: border-color, 0.2s, ease-in-out; -moz-transition: border-color, 0.2s, ease-in-out; -o-transition: border-color, 0.2s, ease-in-out; transition: border-color, 0.2s, ease-in-out; position: absolute; top: 50%; -webkit-transform: translatey(-50%); -moz-transform: translatey(-50%); -ms-transform: translatey(-50%); -o-transform: translatey(-50%); transform: translatey(-50%); }
#nav-button:before { display: block; content: "\f0c9"; color: white; font: normal normal normal 14px/1 FontAwesome; font-size: 18px; line-height: 30px; -webkit-transition: color, 0.2s, ease-in-out; -moz-transition: color, 0.2s, ease-in-out; -o-transition: color, 0.2s, ease-in-out; transition: color, 0.2s, ease-in-out; }
#nav-button:hover { cursor: pointer; background-color: white; }
#nav-button:hover:before { color: #459059; }
@media all and (max-width: 767px) { #nav-button { display: block; } }

.menu__item.is-leaf { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHBAMAAAA2fErgAAAAD1BMVEX///+/v7+Li4sAAADAwMBFvsw8AAAAAXRSTlMAQObYZgAAAB1JREFUCFtjYAADYwMGBmYVZSDhKAwkFJWhYiAAAB2+Aa/9ugeaAAAAAElFTkSuQmCC'); list-style-type: square; }

.menu__item.is-expanded { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABJJREFUeJxj+MdQw2DBIMAABgAUsAHD3c3BpwAAAABJRU5ErkJggg=='); list-style-type: circle; }

.menu__item.is-collapsed { list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHAQMAAAD+nMWQAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAABFJREFUCB1jVmCGQClmEWYOAAZ8AMy3HPLXAAAAAElFTkSuQmCC'); list-style-type: disc; }

.pager { clear: both; padding: 0; text-align: center; }

.pager-item, .pager-first, .pager-previous, .pager-next, .pager-last, .pager-ellipsis, .pager-current { display: inline; padding: 0 0.5em; list-style-type: none; background-image: none; }

.pager-current { font-weight: bold; }

form th { text-align: left; padding-right: 1em; border-bottom: 3px solid #cccccc; }
form tbody { border-top: 1px solid #cccccc; }
form table ul { margin: 0; }

tr.even, tr.odd { background-color: #eeeeee; border-bottom: 1px solid #cccccc; padding: 0.1em 0.6em; }

tr.even { background-color: white; }

td.active { background-color: #dddddd; }

td.checkbox, th.checkbox { text-align: center; }

td.menu-disabled { background: #cccccc; }

tr.drag { background-color: ivory; }

tr.drag-previous { background-color: #ffffdd; }

.tabledrag-toggle-weight { font-size: 0.9em; }

tr.selected td { background: #ffffcc; }

.tabs-primary, .tabs-secondary { overflow: hidden; border-bottom: 5px solid #c3ced6; list-style: none; margin: 1em 0; padding: 0 2px; white-space: nowrap; }

.tabs-primary__tab, .tabs-primary__tab.is-active, .tabs-secondary__tab, .tabs-secondary__tab.is-active { float: left; margin: 0 3px; }

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active, a.tabs-primary__tab-link:link, a.tabs-primary__tab-link:visited, a.tabs-primary__tab-link:focus, a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { border-right: 0; border-bottom: 0; display: block; text-decoration: none; }

/* Primary tabs */
.tabs-primary__tab, .tabs-primary__tab.is-active { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; border: none; }

a.tabs-primary__tab-link, a.tabs-primary__tab-link.is-active, a.tabs-primary__tab-link:link, a.tabs-primary__tab-link:visited, a.tabs-primary__tab-link:focus { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; border-top-left-radius: 2px; -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; border-top-right-radius: 2px; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; color: #88939b; background-color: #e0e8ed; letter-spacing: 1px; padding: 5px 1em; text-align: center; }

a.tabs-primary__tab-link:hover { background-color: #c3ced6; color: #222a30; }

a.tabs-primary__tab-link:active, a.tabs-primary__tab-link.is-active { background: #c3ced6; color: #222a30; }

a.tabs-primary__tab-link.is-active:hover { background: #607583; color: #e1e7ec; }

.tabs-secondary { font-size: 0.9em; margin-top: -1em; border-bottom: none; }

.tabs-secondary__tab, .tabs-secondary__tab.is-active { margin: 0.5em 3px; }

a.tabs-secondary__tab-link, a.tabs-secondary__tab-link.is-active, a.tabs-secondary__tab-link:link, a.tabs-secondary__tab-link:visited, a.tabs-secondary__tab-link:focus { -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -o-transition: background-color 0.3s; transition: background-color 0.3s; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background-color: #e0e8ed; color: #88939b; padding: 3px 0.7em; }

a.tabs-secondary__tab-link:hover { background-color: #c3ced6; color: #222a30; }

a.tabs-secondary__tab-link:active, a.tabs-secondary__tab-link.is-active { background: #c3ced6; color: #222a30; }

a.tabs-secondary__tab-link.is-active:hover { background: #607583; color: #e1e7ec; }

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.6.3"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }

.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.fa-lg { font-size: 1.33333333em; line-height: .75em; vertical-align: -15%; }

.fa-2x { font-size: 2em; }

.fa-3x { font-size: 3em; }

.fa-4x { font-size: 4em; }

.fa-5x { font-size: 5em; }

.fa-fw { width: 1.28571429em; text-align: center; }

.fa-ul { padding-left: 0; margin-left: 2.14285714em; list-style-type: none; }

.fa-ul > li { position: relative; }

.fa-li { position: absolute; left: -2.14285714em; width: 2.14285714em; top: .14285714em; text-align: center; }

.fa-li.fa-lg { left: -1.85714286em; }

.fa-border { padding: .2em .25em .15em; border: solid .08em #eee; border-radius: .1em; }

.fa-pull-left { float: left; }

.fa-pull-right { float: right; }

.fa.fa-pull-left { margin-right: .3em; }

.fa.fa-pull-right { margin-left: .3em; }

.pull-right { float: right; }

.pull-left { float: left; }

.fa.pull-left { margin-right: .3em; }

.fa.pull-right { margin-left: .3em; }

.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }

.fa-pulse { -webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

@keyframes fa-spin { 0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); transform: rotate(359deg); } }

.fa-rotate-90 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.fa-rotate-180 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.fa-rotate-270 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

.fa-flip-horizontal { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)"; -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); }

.fa-flip-vertical { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"; -webkit-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1); }

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical { filter: none; }

.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.fa-stack-1x { line-height: inherit; }

.fa-stack-2x { font-size: 2em; }

.fa-inverse { color: #fff; }

.fa-glass:before { content: "\f000"; }

.fa-music:before { content: "\f001"; }

.fa-search:before { content: "\f002"; }

.fa-envelope-o:before { content: "\f003"; }

.fa-heart:before { content: "\f004"; }

.fa-star:before { content: "\f005"; }

.fa-star-o:before { content: "\f006"; }

.fa-user:before { content: "\f007"; }

.fa-film:before { content: "\f008"; }

.fa-th-large:before { content: "\f009"; }

.fa-th:before { content: "\f00a"; }

.fa-th-list:before { content: "\f00b"; }

.fa-check:before { content: "\f00c"; }

.fa-remove:before, .fa-close:before, .fa-times:before { content: "\f00d"; }

.fa-search-plus:before { content: "\f00e"; }

.fa-search-minus:before { content: "\f010"; }

.fa-power-off:before { content: "\f011"; }

.fa-signal:before { content: "\f012"; }

.fa-gear:before, .fa-cog:before { content: "\f013"; }

.fa-trash-o:before { content: "\f014"; }

.fa-home:before { content: "\f015"; }

.fa-file-o:before { content: "\f016"; }

.fa-clock-o:before { content: "\f017"; }

.fa-road:before { content: "\f018"; }

.fa-download:before { content: "\f019"; }

.fa-arrow-circle-o-down:before { content: "\f01a"; }

.fa-arrow-circle-o-up:before { content: "\f01b"; }

.fa-inbox:before { content: "\f01c"; }

.fa-play-circle-o:before { content: "\f01d"; }

.fa-rotate-right:before, .fa-repeat:before { content: "\f01e"; }

.fa-refresh:before { content: "\f021"; }

.fa-list-alt:before { content: "\f022"; }

.fa-lock:before { content: "\f023"; }

.fa-flag:before { content: "\f024"; }

.fa-headphones:before { content: "\f025"; }

.fa-volume-off:before { content: "\f026"; }

.fa-volume-down:before { content: "\f027"; }

.fa-volume-up:before { content: "\f028"; }

.fa-qrcode:before { content: "\f029"; }

.fa-barcode:before { content: "\f02a"; }

.fa-tag:before { content: "\f02b"; }

.fa-tags:before { content: "\f02c"; }

.fa-book:before { content: "\f02d"; }

.fa-bookmark:before { content: "\f02e"; }

.fa-print:before { content: "\f02f"; }

.fa-camera:before { content: "\f030"; }

.fa-font:before { content: "\f031"; }

.fa-bold:before { content: "\f032"; }

.fa-italic:before { content: "\f033"; }

.fa-text-height:before { content: "\f034"; }

.fa-text-width:before { content: "\f035"; }

.fa-align-left:before { content: "\f036"; }

.fa-align-center:before { content: "\f037"; }

.fa-align-right:before { content: "\f038"; }

.fa-align-justify:before { content: "\f039"; }

.fa-list:before { content: "\f03a"; }

.fa-dedent:before, .fa-outdent:before { content: "\f03b"; }

.fa-indent:before { content: "\f03c"; }

.fa-video-camera:before { content: "\f03d"; }

.fa-photo:before, .fa-image:before, .fa-picture-o:before { content: "\f03e"; }

.fa-pencil:before { content: "\f040"; }

.fa-map-marker:before { content: "\f041"; }

.fa-adjust:before { content: "\f042"; }

.fa-tint:before { content: "\f043"; }

.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }

.fa-share-square-o:before { content: "\f045"; }

.fa-check-square-o:before { content: "\f046"; }

.fa-arrows:before { content: "\f047"; }

.fa-step-backward:before { content: "\f048"; }

.fa-fast-backward:before { content: "\f049"; }

.fa-backward:before { content: "\f04a"; }

.fa-play:before { content: "\f04b"; }

.fa-pause:before { content: "\f04c"; }

.fa-stop:before { content: "\f04d"; }

.fa-forward:before { content: "\f04e"; }

.fa-fast-forward:before { content: "\f050"; }

.fa-step-forward:before { content: "\f051"; }

.fa-eject:before { content: "\f052"; }

.fa-chevron-left:before { content: "\f053"; }

.fa-chevron-right:before { content: "\f054"; }

.fa-plus-circle:before { content: "\f055"; }

.fa-minus-circle:before { content: "\f056"; }

.fa-times-circle:before { content: "\f057"; }

.fa-check-circle:before { content: "\f058"; }

.fa-question-circle:before { content: "\f059"; }

.fa-info-circle:before { content: "\f05a"; }

.fa-crosshairs:before { content: "\f05b"; }

.fa-times-circle-o:before { content: "\f05c"; }

.fa-check-circle-o:before { content: "\f05d"; }

.fa-ban:before { content: "\f05e"; }

.fa-arrow-left:before { content: "\f060"; }

.fa-arrow-right:before { content: "\f061"; }

.fa-arrow-up:before { content: "\f062"; }

.fa-arrow-down:before { content: "\f063"; }

.fa-mail-forward:before, .fa-share:before { content: "\f064"; }

.fa-expand:before { content: "\f065"; }

.fa-compress:before { content: "\f066"; }

.fa-plus:before { content: "\f067"; }

.fa-minus:before { content: "\f068"; }

.fa-asterisk:before { content: "\f069"; }

.fa-exclamation-circle:before { content: "\f06a"; }

.fa-gift:before { content: "\f06b"; }

.fa-leaf:before { content: "\f06c"; }

.fa-fire:before { content: "\f06d"; }

.fa-eye:before { content: "\f06e"; }

.fa-eye-slash:before { content: "\f070"; }

.fa-warning:before, .fa-exclamation-triangle:before { content: "\f071"; }

.fa-plane:before { content: "\f072"; }

.fa-calendar:before { content: "\f073"; }

.fa-random:before { content: "\f074"; }

.fa-comment:before { content: "\f075"; }

.fa-magnet:before { content: "\f076"; }

.fa-chevron-up:before { content: "\f077"; }

.fa-chevron-down:before { content: "\f078"; }

.fa-retweet:before { content: "\f079"; }

.fa-shopping-cart:before { content: "\f07a"; }

.fa-folder:before { content: "\f07b"; }

.fa-folder-open:before { content: "\f07c"; }

.fa-arrows-v:before { content: "\f07d"; }

.fa-arrows-h:before { content: "\f07e"; }

.fa-bar-chart-o:before, .fa-bar-chart:before { content: "\f080"; }

.fa-twitter-square:before { content: "\f081"; }

.fa-facebook-square:before { content: "\f082"; }

.fa-camera-retro:before { content: "\f083"; }

.fa-key:before { content: "\f084"; }

.fa-gears:before, .fa-cogs:before { content: "\f085"; }

.fa-comments:before { content: "\f086"; }

.fa-thumbs-o-up:before { content: "\f087"; }

.fa-thumbs-o-down:before { content: "\f088"; }

.fa-star-half:before { content: "\f089"; }

.fa-heart-o:before { content: "\f08a"; }

.fa-sign-out:before { content: "\f08b"; }

.fa-linkedin-square:before { content: "\f08c"; }

.fa-thumb-tack:before { content: "\f08d"; }

.fa-external-link:before { content: "\f08e"; }

.fa-sign-in:before { content: "\f090"; }

.fa-trophy:before { content: "\f091"; }

.fa-github-square:before { content: "\f092"; }

.fa-upload:before { content: "\f093"; }

.fa-lemon-o:before { content: "\f094"; }

.fa-phone:before { content: "\f095"; }

.fa-square-o:before { content: "\f096"; }

.fa-bookmark-o:before { content: "\f097"; }

.fa-phone-square:before { content: "\f098"; }

.fa-twitter:before { content: "\f099"; }

.fa-facebook-f:before, .fa-facebook:before { content: "\f09a"; }

.fa-github:before { content: "\f09b"; }

.fa-unlock:before { content: "\f09c"; }

.fa-credit-card:before { content: "\f09d"; }

.fa-feed:before, .fa-rss:before { content: "\f09e"; }

.fa-hdd-o:before { content: "\f0a0"; }

.fa-bullhorn:before { content: "\f0a1"; }

.fa-bell:before { content: "\f0f3"; }

.fa-certificate:before { content: "\f0a3"; }

.fa-hand-o-right:before { content: "\f0a4"; }

.fa-hand-o-left:before { content: "\f0a5"; }

.fa-hand-o-up:before { content: "\f0a6"; }

.fa-hand-o-down:before { content: "\f0a7"; }

.fa-arrow-circle-left:before { content: "\f0a8"; }

.fa-arrow-circle-right:before { content: "\f0a9"; }

.fa-arrow-circle-up:before { content: "\f0aa"; }

.fa-arrow-circle-down:before { content: "\f0ab"; }

.fa-globe:before { content: "\f0ac"; }

.fa-wrench:before { content: "\f0ad"; }

.fa-tasks:before { content: "\f0ae"; }

.fa-filter:before { content: "\f0b0"; }

.fa-briefcase:before { content: "\f0b1"; }

.fa-arrows-alt:before { content: "\f0b2"; }

.fa-group:before, .fa-users:before { content: "\f0c0"; }

.fa-chain:before, .fa-link:before { content: "\f0c1"; }

.fa-cloud:before { content: "\f0c2"; }

.fa-flask:before { content: "\f0c3"; }

.fa-cut:before, .fa-scissors:before { content: "\f0c4"; }

.fa-copy:before, .fa-files-o:before { content: "\f0c5"; }

.fa-paperclip:before { content: "\f0c6"; }

.fa-save:before, .fa-floppy-o:before { content: "\f0c7"; }

.fa-square:before { content: "\f0c8"; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before { content: "\f0c9"; }

.fa-list-ul:before { content: "\f0ca"; }

.fa-list-ol:before { content: "\f0cb"; }

.fa-strikethrough:before { content: "\f0cc"; }

.fa-underline:before { content: "\f0cd"; }

.fa-table:before { content: "\f0ce"; }

.fa-magic:before { content: "\f0d0"; }

.fa-truck:before { content: "\f0d1"; }

.fa-pinterest:before { content: "\f0d2"; }

.fa-pinterest-square:before { content: "\f0d3"; }

.fa-google-plus-square:before { content: "\f0d4"; }

.fa-google-plus:before { content: "\f0d5"; }

.fa-money:before { content: "\f0d6"; }

.fa-caret-down:before { content: "\f0d7"; }

.fa-caret-up:before { content: "\f0d8"; }

.fa-caret-left:before { content: "\f0d9"; }

.fa-caret-right:before { content: "\f0da"; }

.fa-columns:before { content: "\f0db"; }

.fa-unsorted:before, .fa-sort:before { content: "\f0dc"; }

.fa-sort-down:before, .fa-sort-desc:before { content: "\f0dd"; }

.fa-sort-up:before, .fa-sort-asc:before { content: "\f0de"; }

.fa-envelope:before { content: "\f0e0"; }

.fa-linkedin:before { content: "\f0e1"; }

.fa-rotate-left:before, .fa-undo:before { content: "\f0e2"; }

.fa-legal:before, .fa-gavel:before { content: "\f0e3"; }

.fa-dashboard:before, .fa-tachometer:before { content: "\f0e4"; }

.fa-comment-o:before { content: "\f0e5"; }

.fa-comments-o:before { content: "\f0e6"; }

.fa-flash:before, .fa-bolt:before { content: "\f0e7"; }

.fa-sitemap:before { content: "\f0e8"; }

.fa-umbrella:before { content: "\f0e9"; }

.fa-paste:before, .fa-clipboard:before { content: "\f0ea"; }

.fa-lightbulb-o:before { content: "\f0eb"; }

.fa-exchange:before { content: "\f0ec"; }

.fa-cloud-download:before { content: "\f0ed"; }

.fa-cloud-upload:before { content: "\f0ee"; }

.fa-user-md:before { content: "\f0f0"; }

.fa-stethoscope:before { content: "\f0f1"; }

.fa-suitcase:before { content: "\f0f2"; }

.fa-bell-o:before { content: "\f0a2"; }

.fa-coffee:before { content: "\f0f4"; }

.fa-cutlery:before { content: "\f0f5"; }

.fa-file-text-o:before { content: "\f0f6"; }

.fa-building-o:before { content: "\f0f7"; }

.fa-hospital-o:before { content: "\f0f8"; }

.fa-ambulance:before { content: "\f0f9"; }

.fa-medkit:before { content: "\f0fa"; }

.fa-fighter-jet:before { content: "\f0fb"; }

.fa-beer:before { content: "\f0fc"; }

.fa-h-square:before { content: "\f0fd"; }

.fa-plus-square:before { content: "\f0fe"; }

.fa-angle-double-left:before { content: "\f100"; }

.fa-angle-double-right:before { content: "\f101"; }

.fa-angle-double-up:before { content: "\f102"; }

.fa-angle-double-down:before { content: "\f103"; }

.fa-angle-left:before { content: "\f104"; }

.fa-angle-right:before { content: "\f105"; }

.fa-angle-up:before { content: "\f106"; }

.fa-angle-down:before { content: "\f107"; }

.fa-desktop:before { content: "\f108"; }

.fa-laptop:before { content: "\f109"; }

.fa-tablet:before { content: "\f10a"; }

.fa-mobile-phone:before, .fa-mobile:before { content: "\f10b"; }

.fa-circle-o:before { content: "\f10c"; }

.fa-quote-left:before { content: "\f10d"; }

.fa-quote-right:before { content: "\f10e"; }

.fa-spinner:before { content: "\f110"; }

.fa-circle:before { content: "\f111"; }

.fa-mail-reply:before, .fa-reply:before { content: "\f112"; }

.fa-github-alt:before { content: "\f113"; }

.fa-folder-o:before { content: "\f114"; }

.fa-folder-open-o:before { content: "\f115"; }

.fa-smile-o:before { content: "\f118"; }

.fa-frown-o:before { content: "\f119"; }

.fa-meh-o:before { content: "\f11a"; }

.fa-gamepad:before { content: "\f11b"; }

.fa-keyboard-o:before { content: "\f11c"; }

.fa-flag-o:before { content: "\f11d"; }

.fa-flag-checkered:before { content: "\f11e"; }

.fa-terminal:before { content: "\f120"; }

.fa-code:before { content: "\f121"; }

.fa-mail-reply-all:before, .fa-reply-all:before { content: "\f122"; }

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before { content: "\f123"; }

.fa-location-arrow:before { content: "\f124"; }

.fa-crop:before { content: "\f125"; }

.fa-code-fork:before { content: "\f126"; }

.fa-unlink:before, .fa-chain-broken:before { content: "\f127"; }

.fa-question:before { content: "\f128"; }

.fa-info:before { content: "\f129"; }

.fa-exclamation:before { content: "\f12a"; }

.fa-superscript:before { content: "\f12b"; }

.fa-subscript:before { content: "\f12c"; }

.fa-eraser:before { content: "\f12d"; }

.fa-puzzle-piece:before { content: "\f12e"; }

.fa-microphone:before { content: "\f130"; }

.fa-microphone-slash:before { content: "\f131"; }

.fa-shield:before { content: "\f132"; }

.fa-calendar-o:before { content: "\f133"; }

.fa-fire-extinguisher:before { content: "\f134"; }

.fa-rocket:before { content: "\f135"; }

.fa-maxcdn:before { content: "\f136"; }

.fa-chevron-circle-left:before { content: "\f137"; }

.fa-chevron-circle-right:before { content: "\f138"; }

.fa-chevron-circle-up:before { content: "\f139"; }

.fa-chevron-circle-down:before { content: "\f13a"; }

.fa-html5:before { content: "\f13b"; }

.fa-css3:before { content: "\f13c"; }

.fa-anchor:before { content: "\f13d"; }

.fa-unlock-alt:before { content: "\f13e"; }

.fa-bullseye:before { content: "\f140"; }

.fa-ellipsis-h:before { content: "\f141"; }

.fa-ellipsis-v:before { content: "\f142"; }

.fa-rss-square:before { content: "\f143"; }

.fa-play-circle:before { content: "\f144"; }

.fa-ticket:before { content: "\f145"; }

.fa-minus-square:before { content: "\f146"; }

.fa-minus-square-o:before { content: "\f147"; }

.fa-level-up:before { content: "\f148"; }

.fa-level-down:before { content: "\f149"; }

.fa-check-square:before { content: "\f14a"; }

.fa-pencil-square:before { content: "\f14b"; }

.fa-external-link-square:before { content: "\f14c"; }

.fa-share-square:before { content: "\f14d"; }

.fa-compass:before { content: "\f14e"; }

.fa-toggle-down:before, .fa-caret-square-o-down:before { content: "\f150"; }

.fa-toggle-up:before, .fa-caret-square-o-up:before { content: "\f151"; }

.fa-toggle-right:before, .fa-caret-square-o-right:before { content: "\f152"; }

.fa-euro:before, .fa-eur:before { content: "\f153"; }

.fa-gbp:before { content: "\f154"; }

.fa-dollar:before, .fa-usd:before { content: "\f155"; }

.fa-rupee:before, .fa-inr:before { content: "\f156"; }

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before { content: "\f157"; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before { content: "\f158"; }

.fa-won:before, .fa-krw:before { content: "\f159"; }

.fa-bitcoin:before, .fa-btc:before { content: "\f15a"; }

.fa-file:before { content: "\f15b"; }

.fa-file-text:before { content: "\f15c"; }

.fa-sort-alpha-asc:before { content: "\f15d"; }

.fa-sort-alpha-desc:before { content: "\f15e"; }

.fa-sort-amount-asc:before { content: "\f160"; }

.fa-sort-amount-desc:before { content: "\f161"; }

.fa-sort-numeric-asc:before { content: "\f162"; }

.fa-sort-numeric-desc:before { content: "\f163"; }

.fa-thumbs-up:before { content: "\f164"; }

.fa-thumbs-down:before { content: "\f165"; }

.fa-youtube-square:before { content: "\f166"; }

.fa-youtube:before { content: "\f167"; }

.fa-xing:before { content: "\f168"; }

.fa-xing-square:before { content: "\f169"; }

.fa-youtube-play:before { content: "\f16a"; }

.fa-dropbox:before { content: "\f16b"; }

.fa-stack-overflow:before { content: "\f16c"; }

.fa-instagram:before { content: "\f16d"; }

.fa-flickr:before { content: "\f16e"; }

.fa-adn:before { content: "\f170"; }

.fa-bitbucket:before { content: "\f171"; }

.fa-bitbucket-square:before { content: "\f172"; }

.fa-tumblr:before { content: "\f173"; }

.fa-tumblr-square:before { content: "\f174"; }

.fa-long-arrow-down:before { content: "\f175"; }

.fa-long-arrow-up:before { content: "\f176"; }

.fa-long-arrow-left:before { content: "\f177"; }

.fa-long-arrow-right:before { content: "\f178"; }

.fa-apple:before { content: "\f179"; }

.fa-windows:before { content: "\f17a"; }

.fa-android:before { content: "\f17b"; }

.fa-linux:before { content: "\f17c"; }

.fa-dribbble:before { content: "\f17d"; }

.fa-skype:before { content: "\f17e"; }

.fa-foursquare:before { content: "\f180"; }

.fa-trello:before { content: "\f181"; }

.fa-female:before { content: "\f182"; }

.fa-male:before { content: "\f183"; }

.fa-gittip:before, .fa-gratipay:before { content: "\f184"; }

.fa-sun-o:before { content: "\f185"; }

.fa-moon-o:before { content: "\f186"; }

.fa-archive:before { content: "\f187"; }

.fa-bug:before { content: "\f188"; }

.fa-vk:before { content: "\f189"; }

.fa-weibo:before { content: "\f18a"; }

.fa-renren:before { content: "\f18b"; }

.fa-pagelines:before { content: "\f18c"; }

.fa-stack-exchange:before { content: "\f18d"; }

.fa-arrow-circle-o-right:before { content: "\f18e"; }

.fa-arrow-circle-o-left:before { content: "\f190"; }

.fa-toggle-left:before, .fa-caret-square-o-left:before { content: "\f191"; }

.fa-dot-circle-o:before { content: "\f192"; }

.fa-wheelchair:before { content: "\f193"; }

.fa-vimeo-square:before { content: "\f194"; }

.fa-turkish-lira:before, .fa-try:before { content: "\f195"; }

.fa-plus-square-o:before { content: "\f196"; }

.fa-space-shuttle:before { content: "\f197"; }

.fa-slack:before { content: "\f198"; }

.fa-envelope-square:before { content: "\f199"; }

.fa-wordpress:before { content: "\f19a"; }

.fa-openid:before { content: "\f19b"; }

.fa-institution:before, .fa-bank:before, .fa-university:before { content: "\f19c"; }

.fa-mortar-board:before, .fa-graduation-cap:before { content: "\f19d"; }

.fa-yahoo:before { content: "\f19e"; }

.fa-google:before { content: "\f1a0"; }

.fa-reddit:before { content: "\f1a1"; }

.fa-reddit-square:before { content: "\f1a2"; }

.fa-stumbleupon-circle:before { content: "\f1a3"; }

.fa-stumbleupon:before { content: "\f1a4"; }

.fa-delicious:before { content: "\f1a5"; }

.fa-digg:before { content: "\f1a6"; }

.fa-pied-piper-pp:before { content: "\f1a7"; }

.fa-pied-piper-alt:before { content: "\f1a8"; }

.fa-drupal:before { content: "\f1a9"; }

.fa-joomla:before { content: "\f1aa"; }

.fa-language:before { content: "\f1ab"; }

.fa-fax:before { content: "\f1ac"; }

.fa-building:before { content: "\f1ad"; }

.fa-child:before { content: "\f1ae"; }

.fa-paw:before { content: "\f1b0"; }

.fa-spoon:before { content: "\f1b1"; }

.fa-cube:before { content: "\f1b2"; }

.fa-cubes:before { content: "\f1b3"; }

.fa-behance:before { content: "\f1b4"; }

.fa-behance-square:before { content: "\f1b5"; }

.fa-steam:before { content: "\f1b6"; }

.fa-steam-square:before { content: "\f1b7"; }

.fa-recycle:before { content: "\f1b8"; }

.fa-automobile:before, .fa-car:before { content: "\f1b9"; }

.fa-cab:before, .fa-taxi:before { content: "\f1ba"; }

.fa-tree:before { content: "\f1bb"; }

.fa-spotify:before { content: "\f1bc"; }

.fa-deviantart:before { content: "\f1bd"; }

.fa-soundcloud:before { content: "\f1be"; }

.fa-database:before { content: "\f1c0"; }

.fa-file-pdf-o:before { content: "\f1c1"; }

.fa-file-word-o:before { content: "\f1c2"; }

.fa-file-excel-o:before { content: "\f1c3"; }

.fa-file-powerpoint-o:before { content: "\f1c4"; }

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content: "\f1c5"; }

.fa-file-zip-o:before, .fa-file-archive-o:before { content: "\f1c6"; }

.fa-file-sound-o:before, .fa-file-audio-o:before { content: "\f1c7"; }

.fa-file-movie-o:before, .fa-file-video-o:before { content: "\f1c8"; }

.fa-file-code-o:before { content: "\f1c9"; }

.fa-vine:before { content: "\f1ca"; }

.fa-codepen:before { content: "\f1cb"; }

.fa-jsfiddle:before { content: "\f1cc"; }

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before { content: "\f1cd"; }

.fa-circle-o-notch:before { content: "\f1ce"; }

.fa-ra:before, .fa-resistance:before, .fa-rebel:before { content: "\f1d0"; }

.fa-ge:before, .fa-empire:before { content: "\f1d1"; }

.fa-git-square:before { content: "\f1d2"; }

.fa-git:before { content: "\f1d3"; }

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before { content: "\f1d4"; }

.fa-tencent-weibo:before { content: "\f1d5"; }

.fa-qq:before { content: "\f1d6"; }

.fa-wechat:before, .fa-weixin:before { content: "\f1d7"; }

.fa-send:before, .fa-paper-plane:before { content: "\f1d8"; }

.fa-send-o:before, .fa-paper-plane-o:before { content: "\f1d9"; }

.fa-history:before { content: "\f1da"; }

.fa-circle-thin:before { content: "\f1db"; }

.fa-header:before { content: "\f1dc"; }

.fa-paragraph:before { content: "\f1dd"; }

.fa-sliders:before { content: "\f1de"; }

.fa-share-alt:before { content: "\f1e0"; }

.fa-share-alt-square:before { content: "\f1e1"; }

.fa-bomb:before { content: "\f1e2"; }

.fa-soccer-ball-o:before, .fa-futbol-o:before { content: "\f1e3"; }

.fa-tty:before { content: "\f1e4"; }

.fa-binoculars:before { content: "\f1e5"; }

.fa-plug:before { content: "\f1e6"; }

.fa-slideshare:before { content: "\f1e7"; }

.fa-twitch:before { content: "\f1e8"; }

.fa-yelp:before { content: "\f1e9"; }

.fa-newspaper-o:before { content: "\f1ea"; }

.fa-wifi:before { content: "\f1eb"; }

.fa-calculator:before { content: "\f1ec"; }

.fa-paypal:before { content: "\f1ed"; }

.fa-google-wallet:before { content: "\f1ee"; }

.fa-cc-visa:before { content: "\f1f0"; }

.fa-cc-mastercard:before { content: "\f1f1"; }

.fa-cc-discover:before { content: "\f1f2"; }

.fa-cc-amex:before { content: "\f1f3"; }

.fa-cc-paypal:before { content: "\f1f4"; }

.fa-cc-stripe:before { content: "\f1f5"; }

.fa-bell-slash:before { content: "\f1f6"; }

.fa-bell-slash-o:before { content: "\f1f7"; }

.fa-trash:before { content: "\f1f8"; }

.fa-copyright:before { content: "\f1f9"; }

.fa-at:before { content: "\f1fa"; }

.fa-eyedropper:before { content: "\f1fb"; }

.fa-paint-brush:before { content: "\f1fc"; }

.fa-birthday-cake:before { content: "\f1fd"; }

.fa-area-chart:before { content: "\f1fe"; }

.fa-pie-chart:before { content: "\f200"; }

.fa-line-chart:before { content: "\f201"; }

.fa-lastfm:before { content: "\f202"; }

.fa-lastfm-square:before { content: "\f203"; }

.fa-toggle-off:before { content: "\f204"; }

.fa-toggle-on:before { content: "\f205"; }

.fa-bicycle:before { content: "\f206"; }

.fa-bus:before { content: "\f207"; }

.fa-ioxhost:before { content: "\f208"; }

.fa-angellist:before { content: "\f209"; }

.fa-cc:before { content: "\f20a"; }

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before { content: "\f20b"; }

.fa-meanpath:before { content: "\f20c"; }

.fa-buysellads:before { content: "\f20d"; }

.fa-connectdevelop:before { content: "\f20e"; }

.fa-dashcube:before { content: "\f210"; }

.fa-forumbee:before { content: "\f211"; }

.fa-leanpub:before { content: "\f212"; }

.fa-sellsy:before { content: "\f213"; }

.fa-shirtsinbulk:before { content: "\f214"; }

.fa-simplybuilt:before { content: "\f215"; }

.fa-skyatlas:before { content: "\f216"; }

.fa-cart-plus:before { content: "\f217"; }

.fa-cart-arrow-down:before { content: "\f218"; }

.fa-diamond:before { content: "\f219"; }

.fa-ship:before { content: "\f21a"; }

.fa-user-secret:before { content: "\f21b"; }

.fa-motorcycle:before { content: "\f21c"; }

.fa-street-view:before { content: "\f21d"; }

.fa-heartbeat:before { content: "\f21e"; }

.fa-venus:before { content: "\f221"; }

.fa-mars:before { content: "\f222"; }

.fa-mercury:before { content: "\f223"; }

.fa-intersex:before, .fa-transgender:before { content: "\f224"; }

.fa-transgender-alt:before { content: "\f225"; }

.fa-venus-double:before { content: "\f226"; }

.fa-mars-double:before { content: "\f227"; }

.fa-venus-mars:before { content: "\f228"; }

.fa-mars-stroke:before { content: "\f229"; }

.fa-mars-stroke-v:before { content: "\f22a"; }

.fa-mars-stroke-h:before { content: "\f22b"; }

.fa-neuter:before { content: "\f22c"; }

.fa-genderless:before { content: "\f22d"; }

.fa-facebook-official:before { content: "\f230"; }

.fa-pinterest-p:before { content: "\f231"; }

.fa-whatsapp:before { content: "\f232"; }

.fa-server:before { content: "\f233"; }

.fa-user-plus:before { content: "\f234"; }

.fa-user-times:before { content: "\f235"; }

.fa-hotel:before, .fa-bed:before { content: "\f236"; }

.fa-viacoin:before { content: "\f237"; }

.fa-train:before { content: "\f238"; }

.fa-subway:before { content: "\f239"; }

.fa-medium:before { content: "\f23a"; }

.fa-yc:before, .fa-y-combinator:before { content: "\f23b"; }

.fa-optin-monster:before { content: "\f23c"; }

.fa-opencart:before { content: "\f23d"; }

.fa-expeditedssl:before { content: "\f23e"; }

.fa-battery-4:before, .fa-battery-full:before { content: "\f240"; }

.fa-battery-3:before, .fa-battery-three-quarters:before { content: "\f241"; }

.fa-battery-2:before, .fa-battery-half:before { content: "\f242"; }

.fa-battery-1:before, .fa-battery-quarter:before { content: "\f243"; }

.fa-battery-0:before, .fa-battery-empty:before { content: "\f244"; }

.fa-mouse-pointer:before { content: "\f245"; }

.fa-i-cursor:before { content: "\f246"; }

.fa-object-group:before { content: "\f247"; }

.fa-object-ungroup:before { content: "\f248"; }

.fa-sticky-note:before { content: "\f249"; }

.fa-sticky-note-o:before { content: "\f24a"; }

.fa-cc-jcb:before { content: "\f24b"; }

.fa-cc-diners-club:before { content: "\f24c"; }

.fa-clone:before { content: "\f24d"; }

.fa-balance-scale:before { content: "\f24e"; }

.fa-hourglass-o:before { content: "\f250"; }

.fa-hourglass-1:before, .fa-hourglass-start:before { content: "\f251"; }

.fa-hourglass-2:before, .fa-hourglass-half:before { content: "\f252"; }

.fa-hourglass-3:before, .fa-hourglass-end:before { content: "\f253"; }

.fa-hourglass:before { content: "\f254"; }

.fa-hand-grab-o:before, .fa-hand-rock-o:before { content: "\f255"; }

.fa-hand-stop-o:before, .fa-hand-paper-o:before { content: "\f256"; }

.fa-hand-scissors-o:before { content: "\f257"; }

.fa-hand-lizard-o:before { content: "\f258"; }

.fa-hand-spock-o:before { content: "\f259"; }

.fa-hand-pointer-o:before { content: "\f25a"; }

.fa-hand-peace-o:before { content: "\f25b"; }

.fa-trademark:before { content: "\f25c"; }

.fa-registered:before { content: "\f25d"; }

.fa-creative-commons:before { content: "\f25e"; }

.fa-gg:before { content: "\f260"; }

.fa-gg-circle:before { content: "\f261"; }

.fa-tripadvisor:before { content: "\f262"; }

.fa-odnoklassniki:before { content: "\f263"; }

.fa-odnoklassniki-square:before { content: "\f264"; }

.fa-get-pocket:before { content: "\f265"; }

.fa-wikipedia-w:before { content: "\f266"; }

.fa-safari:before { content: "\f267"; }

.fa-chrome:before { content: "\f268"; }

.fa-firefox:before { content: "\f269"; }

.fa-opera:before { content: "\f26a"; }

.fa-internet-explorer:before { content: "\f26b"; }

.fa-tv:before, .fa-television:before { content: "\f26c"; }

.fa-contao:before { content: "\f26d"; }

.fa-500px:before { content: "\f26e"; }

.fa-amazon:before { content: "\f270"; }

.fa-calendar-plus-o:before { content: "\f271"; }

.fa-calendar-minus-o:before { content: "\f272"; }

.fa-calendar-times-o:before { content: "\f273"; }

.fa-calendar-check-o:before { content: "\f274"; }

.fa-industry:before { content: "\f275"; }

.fa-map-pin:before { content: "\f276"; }

.fa-map-signs:before { content: "\f277"; }

.fa-map-o:before { content: "\f278"; }

.fa-map:before { content: "\f279"; }

.fa-commenting:before { content: "\f27a"; }

.fa-commenting-o:before { content: "\f27b"; }

.fa-houzz:before { content: "\f27c"; }

.fa-vimeo:before { content: "\f27d"; }

.fa-black-tie:before { content: "\f27e"; }

.fa-fonticons:before { content: "\f280"; }

.fa-reddit-alien:before { content: "\f281"; }

.fa-edge:before { content: "\f282"; }

.fa-credit-card-alt:before { content: "\f283"; }

.fa-codiepie:before { content: "\f284"; }

.fa-modx:before { content: "\f285"; }

.fa-fort-awesome:before { content: "\f286"; }

.fa-usb:before { content: "\f287"; }

.fa-product-hunt:before { content: "\f288"; }

.fa-mixcloud:before { content: "\f289"; }

.fa-scribd:before { content: "\f28a"; }

.fa-pause-circle:before { content: "\f28b"; }

.fa-pause-circle-o:before { content: "\f28c"; }

.fa-stop-circle:before { content: "\f28d"; }

.fa-stop-circle-o:before { content: "\f28e"; }

.fa-shopping-bag:before { content: "\f290"; }

.fa-shopping-basket:before { content: "\f291"; }

.fa-hashtag:before { content: "\f292"; }

.fa-bluetooth:before { content: "\f293"; }

.fa-bluetooth-b:before { content: "\f294"; }

.fa-percent:before { content: "\f295"; }

.fa-gitlab:before { content: "\f296"; }

.fa-wpbeginner:before { content: "\f297"; }

.fa-wpforms:before { content: "\f298"; }

.fa-envira:before { content: "\f299"; }

.fa-universal-access:before { content: "\f29a"; }

.fa-wheelchair-alt:before { content: "\f29b"; }

.fa-question-circle-o:before { content: "\f29c"; }

.fa-blind:before { content: "\f29d"; }

.fa-audio-description:before { content: "\f29e"; }

.fa-volume-control-phone:before { content: "\f2a0"; }

.fa-braille:before { content: "\f2a1"; }

.fa-assistive-listening-systems:before { content: "\f2a2"; }

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before { content: "\f2a3"; }

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before { content: "\f2a4"; }

.fa-glide:before { content: "\f2a5"; }

.fa-glide-g:before { content: "\f2a6"; }

.fa-signing:before, .fa-sign-language:before { content: "\f2a7"; }

.fa-low-vision:before { content: "\f2a8"; }

.fa-viadeo:before { content: "\f2a9"; }

.fa-viadeo-square:before { content: "\f2aa"; }

.fa-snapchat:before { content: "\f2ab"; }

.fa-snapchat-ghost:before { content: "\f2ac"; }

.fa-snapchat-square:before { content: "\f2ad"; }

.fa-pied-piper:before { content: "\f2ae"; }

.fa-first-order:before { content: "\f2b0"; }

.fa-yoast:before { content: "\f2b1"; }

.fa-themeisle:before { content: "\f2b2"; }

.fa-google-plus-circle:before, .fa-google-plus-official:before { content: "\f2b3"; }

.fa-fa:before, .fa-font-awesome:before { content: "\f2b4"; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

@media print { a:link, a:visited { text-decoration: underline !important; }
  a:link.header__site-link, a:visited.header__site-link { text-decoration: none !important; }
  #content a[href]:after { content: " (" attr(href) ")"; font-weight: normal; font-size: 1em; }
  #content a[href^="javascript:"]:after, #content a[href^="#"]:after { content: ""; }
  #content abbr[title]:after { content: " (" attr(title) ")"; }
  #content { float: none !important; width: 100% !important; margin: 0 !important; padding: 0 !important; }
  body, #page, #main, #content { color: black; background-color: transparent !important; background-image: none !important; }
  #skip-link, #toolbar, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .breadcrumb, .tabs, .action-links, .links, .book-navigation, .forum-topic-navigation, .pager, .feed-icons { visibility: hidden; display: none; } }
