// =============================================================================
// Anchors
// =============================================================================

a
  +transition-property('color')
  +transition-duration('0.1s')
  +transition-timing-function('ease-in-out')
  &:link
    color: $anchor-color
  &:visited
    color: $anchor-color
  &:hover,
  &:focus
    color: $anchor-color-hover
  &:active
    color: $anchor-color
