// =============================================================================
// Breadcrumb Navigation
// =============================================================================

.breadcrumb
  padding: $breadcrumb-padding
  a
    font-size: $breadcrumb-font-size
  ol
    margin: 0
    padding: 0
  li
    display: inline
    list-style-type: none
    margin: 0
    padding: 0
