// =============================================================================
// Contextual links
// =============================================================================

// Make it so the contextual links for a view is moved over, so it will never
// overlap the contextual links for individual rows:
.contextual-links-region .contextual-links-region .contextual-links-wrapper,
.block-views > .contextual-links-wrapper,
.view > .contextual-links-wrapper
  margin-right: 50px

// Add a background and border style to the trigger button, to contrast it with
// any given background and ensure it's always easily visible
div.contextual-links-wrapper a.contextual-links-trigger
  background-color: #ffffff
  padding: 0 2px
  width: 40px
  height: 28px
  border: 4px solid #ffffff
  text-decoration: none
  outline: none
  // The default text indent applied seems to still cause a bit of text to
  // appear, so this ensures that it definitely doesn't
  text-indent: -999em
  +border-radius(2px)

div.contextual-links-active a.contextual-links-trigger
  background-color: $tab-bg-color
  border: 4px solid $tab-bg-color
  +border-radius(2px 2px 0 0)

div.contextual-links-wrapper ul.contextual-links
  top: 28px
  border: none
  background: $tab-bg-color
  padding: 5px 0
  @include border-radius(2px 0 2px 2px)

div.contextual-links-wrapper ul.contextual-links li a
  padding: 10px
  background: $tab-bg-color !important
  color: $tab-text-color
  font-weight: bold
  letter-spacing: 1px
  text-decoration: none !important
  margin: 0
  &:hover
    background: $tab-bg-hover-color !important
    color: $tab-text-active-hover-color
    text-decoration: none !important
    @include transition(background-color 0.3s)
  transition: none
