// =============================================================================
// Drupal Core & standard modules
// =============================================================================

// Action Links
ul.action-links
  @include clearfix
  margin: 1em 0
  padding: 0 20px 0 20px
  list-style-type: none
  li
    float: left
    margin: 0 1em 0 0
    a
      padding-left: 15px
      background: transparent url(../images/add.png) no-repeat 0 center

// Collapsible fieldsets @see collapse.js
.fieldset-legend
  html.js .collapsible &
    background-image: inline-image("menu-expanded.png")
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
      *background-image: image-url("menu-expanded.png")
    background-position: 5px 65%
    background-repeat: no-repeat
    padding-left: 15px
  html.js .collapsed &
    background-image: inline-image("menu-collapsed.png")
    @if $legacy-support-for-ie6 or $legacy-support-for-ie7
      *background-image: image-url("menu-collapsed.png")
    background-position: 5px 50%
  .summary
    color: #999
    font-size: 0.9em
    margin-left: 0.5em

// Comments
// Wrapper for the list of comments and its title
.comments
  margin: $base-leading 0

// Preview of the comment before submitting new or updated comment
.comment-preview
  // Drupal core will use a #ffffea background. See #1110842
  background-color: #ffffea

// Wrapper for a single comment
.comment
  // Comment's permalink wrapper
  .permalink
    text-transform: uppercase
    font-size: 75%

// Drupal's default login form block
#user-login-form
  text-align: left

// Marker
// The "new" or "updated" marker
.new,
.update
  color: #c00
  // Remove background highlighting from <mark> in normalize
  background-color: transparent

// Messages
.messages
  margin: $base-leading 0
  padding: 10px
  background: #ddd
  border-left: 10px solid #888

.messages--status
  @extend .messages
  @extend %ok
  border-color: #038a00

.messages--warning
  @extend .messages
  @extend %warning
  border-color: #d1a700

.messages--error
  @extend .messages
  @extend %error
  border-color: #ed541d

.messages__list
  margin: 0

.messages__item
  list-style-image: none

// Core/module installation error messages
.messages--error  p.error
  color: #333

// System status report
.ok,
%ok
  background-color: #c0ff9a
  color: #234600

.warning,
%warning
  background-color: #fff5a8
  color: #840

.error,
%error
  background-color: #ffbdb0
  color: #8c2e0b

// "More" links
.more-link
  text-align: right
.more-help-link
  text-align: right
.more-help-link a
  background-image: inline-image("help.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *background-image: image-url("help.png")
  background-position: 0 50%
  background-repeat: no-repeat
  padding: 1px 0 1px 20px

// Unpublished note
// The word "Unpublished" displayed underneath the content
.unpublished
  display: block
  height: 0
  overflow: visible
  // Remove background highlighting from <mark> in normalize
  background-color: transparent
  color: #d8d8d8
  font-size: 75px
  line-height: 1
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif
  font-weight: bold
  text-transform: uppercase
  text-align: center
  // A very nice CSS3 property
  word-wrap: break-word
@if $legacy-support-for-ie6 or $legacy-support-for-ie7
  .lt-ie8 .node-unpublished>*,
  .lt-ie8 .comment-unpublished>*
    // Otherwise these elements will appear below the "Unpublished" text
    position: relative

// Nested comments are indented
.indented
  // Drupal core uses a 25px left margin
  margin-left: $indent-amount


// OpenID @The default styling for the OpenID login link seems to assume Garland's styling of list items
// OpenID creates a new ul above the login form's links
.openid-links
  // Position OpenID's ul next to the rest of the links
  margin-bottom: 0

// The "Log in using OpenID" and "Cancel OpenID login" links
.openid-link,
.user-link
  margin-top: $base-leading

html.js #user-login-form li.openid-link,
#user-login-form li.openid-link
  // Un-do some of the padding on the ul list
  margin-left: -20px

#user-login ul
  margin: $base-leading 0

// The skip-link link will be completely hidden until a user tabs to the link
#skip-link
  margin: 0
  a,
  a:visited
    display: block
    width: 100%
    padding: 2px 0 3px 0
    text-align: center
    background-color: $color-text
    color: #fff
