// =============================================================================
// Forms
// =============================================================================

input,
textarea,
select,
button,
a.button
  font-size: $base-font-size
  line-height: $base-font-size

.ajax-progress
  font-size: $base-font-size - 0.3
  line-height: $base-line-height - 0.2

.form-actions
  margin: $base-leading/2 0
  a
    font-size: $base-font-size * 1.2
    line-height: $base-font-size

.form-required
  display: inline-block
  overflow: hidden
  text-indent: -3000em
  border-top: 7px solid transparent
  border-bottom: 7px solid transparent
  border-right: 10px solid $form-required-color
  border-left: none
  height: 0
  width: 0

.form-item.form-type-radio,
.form-item.form-type-checkbox
  margin: 10px 0

.form-item.form-type-radio label,
.form-item.form-type-checkbox label
  font-size: $base-font-size

input.form-text,
input[type="text"],
input[type="password"],
input[type="search"],
input[type="email"],
textarea,
select
  border: 1px solid $form-input-border-color
  +border-radius(2px)
  +transition(color 0.4s, background-color 0.4s, border 0.4s, box-shadow 0.4s)
  padding: 4px
  background-color: $form-input-bg-color

input.form-text.error,
input[type="text"].error,
input[type="password"].error,
input[type="search"].error,
input[type="email"].error,
textarea.error,
select.error
  +single-box-shadow($form-error-color, 0, 0, 4px, 0)

input.form-text:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus
  border-color: $form-input-focus-border-color
  +single-box-shadow($form-input-focus-shadow-color, 0, 0, 6px, 0)
  outline: none
  background-color: $form-input-focus-bg-color

input.form-text:disabled,
input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="search"]:disabled,
textarea:disabled,
select:disabled
  border-color: $form-input-disabled-border-color
  color: $form-input-disabled-bg-color

button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
a.button
  +transition(color 0.4s, background-color 0.4s)
  margin: 0 10px 0 0
  +border-radius(2px)
  background: $form-button-bg-color
  border: none
  display: inline-block
  padding: 10px 30px
  color: $form-button-text-color

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
a.button:hover
  background: $form-button-hover-bg-color
  color: $form-button-hover-text-color

input[type="submit"][id^="edit-submit"],
input#edit-actions-submit,
input[id^="save-continue"],
input[type="submit"][id^="edit-save"],
input#edit-save,
input#edit-submit,
input#edit-actions-save,
input.webform-submit.button-primary,
.field-widget-inline-entity-form .container-inline .form-submit,
#media-browser-page a.button-yes,
input.add-new-condition,
#edit-field-product-und-form-actions input.ief-entity-submit
  background: $form-submit-button-bg-color
  color: $form-submit-button-text-color

input[type="submit"][id^="edit-submit"]:hover,
input#edit-actions-submit:hover,
input[id^="save-continue"]:hover,
input[type="submit"][id^="edit-save"]:hover,
input#edit-save:hover,
input#edit-submit:hover,
input#edit-actions-save:hover,
input.webform-submit.button-primary:hover,
.field-widget-inline-entity-form .container-inline .form-submit:hover,
#media-browser-page a.button-yes:hover,
input.add-new-condition:hover,
#edit-field-product-und-form-actions input.ief-entity-submit:hover
  background: $form-submit-button-hover-bg-color
  color: $form-submit-button-hover-text-color

input#edit-delete,
input#remove-button,
input#edit-remove,
input#edit-clear,
a.button.remove,
.page-node-delete input#edit-submit,
input[id*="remove-button"],
.page-admin-modules-uninstall input#edit-submit,
.remove-condition input,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit
  background: $form-delete-button-bg-color
  color: $form-delete-button-text-color

input#edit-delete:hover,
input#remove-button:hover,
input#edit-remove:hover,
input#edit-clear:hover,
a.button.remove:hover,
.page-node-delete input#edit-submit:hover,
input[id*="remove-button"]:hover,
.page-admin-modules-uninstall input#edit-submit:hover,
.remove-condition input:hover,
.field-widget-inline-entity-form .ief-entity-operations input[id*="remove"].form-submit:hover
  background: $form-delete-button-hover-bg-color
  color: $form-delete-button-hover-text-color

button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
a.button:active
  background: $form-button-active-bg-color
  color: $form-button-active-text-color

button:disabled,
html input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled,
a.button:disabled
  background: $form-button-disabled-bg-color
  color: $form-button-disabled-text-color

fieldset
  +border-radius(2px)
  legend
    font-size: $base-font-size * 1.4
    padding: 10px 25px
    border: none
    background-color: #eee
    @include border-radius(2px)

// Prevent our button style from affecting colorbox buttons:
#cboxContent button
  @include border-radius(0)
  @include single-box-shadow(transparent, 0, 0, 0, 0)
  border: none

// Wrapper for a form element (or group of form elements) and its label
.form-item
  margin: $base-leading 0
  // Pack groups of checkboxes and radio buttons closer together
  .form-checkboxes & ,
  .form-radios &
    // Drupal core uses "0.4em 0"
    margin: 0
  // Form items in a table
  tr.odd &,
  tr.even &
    margin: 0
  // Highlight the form elements that caused a form submission error
  input.error,
  textarea.error,
  select.error
    border: 1px solid #c00
  // The descriptive help text (separate from the label)
  .description
    font-size: 0.85em

.form-type-radio,
.form-type-checkbox
  .description
    margin-left: 2.4em

// The part of the label that indicates a required field
.form-required
  color: #c00

// Labels for radios and checkboxes
label.option
  display: inline
  font-weight: normal

// Password confirmation
.password-parent,
.confirm-parent
  margin: 0
