// =============================================================================
// Header
// =============================================================================

// Top-bar
#top-bar
  height: $top-bar-height
  border-bottom: 1px solid rgba(0,0,0,0.15)
  +vertical-center-container($top-bar-height)

// Header
#header
  margin-bottom: $header-margin
  height: $header-height
  border-bottom: 1px solid rgba(0,0,0,0.15)
  .container
    +vertical-center-container($header-height)

// Branding
#branding
  position: relative
  z-index: 12
  @media all and (min-width: $container-tablet)
    float: left
    width: 50%

// Logo, Site name & slogan
// Wrapping link for logo
#name-and-slogan
  +vertical-center-container($header-height)

.header__logo
  float: left
  max-width: 20%

// Logo
.header__logo-image
  display: block
  width: auto
  height: $header-height
  padding: 5px

// Wrapper for site name and slogan
.header__name-and-slogan
  position: relative
  width: 100%
  height: 100%
  float: left
  &.header__with-logo
    width: 80%

// The name of the website
.header__site-name
  font-size: $site-name-font-size
  margin: 0
  +vertical-center
  .header__with-slogan &
    line-height: $base-font-size * 0.8
  @media only screen and (max-width: $container-tablet)
    font-size: $site-name-font-size * 0.8
  @media only screen and (max-width: $container-mobile)
    font-size: $site-name-font-size * 0.6

// The link around the name of the website
.header__site-link
  text-decoration: none
  &:link
    color: $site-name-color
  &:visited
    color: $site-name-color
  &:hover,
  &:focus
    color: $site-name-color-hover
  &:active
    color: $site-name-color

// The slogan (or tagline) of a website
.header__site-slogan
  display: block
  margin: 0
  color: $site-slogan-color

.header__site-slogan
  font-size: $site-slogan-font-size
  font-weight: 300
  @media only screen and (max-width: $container-tablet)
    font-size: $site-slogan-font-size * 0.8

// The secondary menu (login, etc.)
.header__secondary-menu
  right: 0
  +vertical-center()
  a
    font-size: $secondary-menu-font-size
    text-decoration: none
    color: $secondary-menu-color
    &:focus,&:hover
      color: $secondary-menu-color-hover
