// =============================================================================
// Navigation
// =============================================================================

#navigation
  display: block
  overflow: hidden
  .links,
  .menu
    margin: 0
    padding: 0
    text-align: left
    a
      padding: $zen-gutter-width/2
      color: $main-menu-color
      text-decoration: none
      &:focus,&:hover
        color: $main-menu-color-hover
    li
      display: block
      margin: 0
      padding: 0
      list-style-type: none
      list-style-image: none
      &:last-child a
        padding-right: 0
      @media all and (min-width: $container-tablet)
        display: inline-block
        float: left
        margin: $anchor-margin
    @media all and (max-width: $container-mobile-max)
      a
        display: block
        padding: $zen-gutter-width/2 $zen-gutter-width
        width: 100%
        +transition(none)
        &:focus,&:hover
          background-color: $color-main
          color: $color-white

  // Default rendered menus
  #main-menu,
  .region-navigation
    display: block
    @media all and (min-width: $container-tablet)
      display: inline-block
      right: 0
      +vertical-center
    .block__title
      display: none
  @media all and (max-width: $container-mobile-max)
    &.active
      height: auto
      max-height: 1000px
      +transition-property(max-height)
      +transition-duration(0)
      +transition-timing-function(ease-in-out)
    max-height: 0
    padding: 0
    background: $navigation-background
    +box-shadow(2px 5px 5px 0px rgba(204,204,204,0.5))
  .block
    margin-bottom: 0
  .block-menu .block__title,
  .block-menu-block .block__title
    @extend .element-invisible

// Navigation Button (Mobile Menu)
#nav-button
  display: none
  right: $zen-gutter-width/2
  z-index: 13
  width: 38px
  height: 30px
  background-color: $color-main
  border: 1px solid $color-main
  font-size: 0
  text-align: center
  text-decoration: none
  outline: 0
  +border-radius(2px)
  +transition(border-color, 0.2s, ease-in-out)
  +vertical-center()
  &:before
    display: block
    content: '\f0c9'
    color: $color-white
    font: normal normal normal 14px/1 FontAwesome
    font-size: 18px
    line-height: 30px
    +transition(color, 0.2s, ease-in-out)
  &:hover
    cursor: pointer
    background-color: $color-white
    &:before
      color: $color-main
  @media all and (max-width: $container-mobile-max)
    display: block

// Menus
.menu__item.is-leaf
  list-style-image: inline-image("menu-leaf.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-leaf.png")
  list-style-type: square

.menu__item.is-expanded
  list-style-image: inline-image("menu-expanded.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-expanded.png")
  list-style-type: circle

.menu__item.is-collapsed
  list-style-image: inline-image("menu-collapsed.png")
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7
    *list-style-image: image-url("menu-collapsed.png")
  list-style-type: disc
