// =============================================================================
// Tabs
// =============================================================================

// Basic positioning styles shared by primary and secondary tabs
%tabs
  +clearfix
  border-bottom: $tab-border-width solid $tab-border-color
  list-style: none
  margin: $base-leading 0
  padding: 0 2px
  white-space: nowrap

%tabs__tab
  float: left
  margin: 0 3px

%tabs__tab-link
  border-right: 0
  border-bottom: 0
  display: block
  text-decoration: none

/* Primary tabs */
.tabs-primary
  @extend %tabs

.tabs-primary__tab
  @extend %tabs__tab
  +border-top-radius(2px)
  border: none

.tabs-primary__tab.is-active
  @extend .tabs-primary__tab


// We use 3 placeholder styles to prevent @extend from going selector crazy
%tabs-primary__tab-link,
%tabs-primary__tab-link:link,
%tabs-primary__tab-link:visited,
%tabs-primary__tab-link:focus
  @extend %tabs__tab-link
  +border-top-radius(2px)
  +transition(background-color 0.3s)
  color: $tab-text-color
  background-color: $tab-bg-color
  letter-spacing: 1px
  padding: 5px 1em
  text-align: center

%tabs-primary__tab-link-is-hover
  background-color: $tab-bg-hover-color
  color: $tab-text-hover-color

%tabs-primary__tab-link-is-active
  background: $tab-bg-active-color
  color: $tab-text-active-color

%tabs-primary__tab-link-is-active-hover
  background: $tab-bg-active-hover-color
  color: $tab-text-active-hover-color


a.tabs-primary__tab-link
  @extend %tabs-primary__tab-link
  &:hover
    @extend %tabs-primary__tab-link-is-hover
  &:active
    @extend %tabs-primary__tab-link-is-active

a.tabs-primary__tab-link.is-active
  @extend %tabs-primary__tab-link
  @extend %tabs-primary__tab-link-is-active
  &:hover
    @extend %tabs-primary__tab-link-is-active-hover

// Secondary tabs
.tabs-secondary
  @extend %tabs
  font-size: .9em
  // Collapse bottom margin of ul.primary
  margin-top: -$base-leading
  border-bottom: none

.tabs-secondary__tab,
.tabs-secondary__tab.is-active
  @extend %tabs__tab
  margin: $base-leading/2 3px

// We use 3 placeholder styles to prevent @extend from going selector crazy
%tabs-secondary__tab-link,
%tabs-secondary__tab-link:link,
%tabs-secondary__tab-link:visited,
%tabs-secondary__tab-link:focus
  @extend %tabs__tab-link
  +transition(background-color 0.3s)
  +border-radius(2px)
  background-color: $tab-bg-color
  color: $tab-text-color
  padding: 3px .7em

%tabs-secondary__tab-link-is-hover
  background-color: $tab-bg-hover-color
  color: $tab-text-hover-color

%tabs-secondary__tab-link-is-active
  background: $tab-bg-active-color
  color: $tab-text-active-color

%tabs-secondary__tab-link-is-active-hover
  background: $tab-bg-active-hover-color
  color: $tab-text-active-hover-color

a.tabs-secondary__tab-link
  @extend %tabs-secondary__tab-link

  &:hover
    @extend %tabs-secondary__tab-link-is-hover

  &:active
    @extend %tabs-secondary__tab-link-is-active

a.tabs-secondary__tab-link.is-active
  @extend %tabs-secondary__tab-link
  @extend %tabs-secondary__tab-link-is-active
  &:hover
    @extend %tabs-secondary__tab-link-is-active-hover
