// =============================================================================
// Positioning for a responsive layout
// =============================================================================
// This layout uses the Zen Grids plugin for Compass: http://zengrids.com

// Prevents padding/margin from increasing overall width
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit
// Prevents horizontal scrollbar
body
  overflow-x: hidden

// Media Query boundaries will overlap, provide a maximum
$container-mobile-max: ($container-tablet - 1)
$container-tablet-max: ($container-laptop - 1)
$container-laptop-max: ($container-desktop - 1)

.container
  position: relative
  width: 100%
  max-width: $container-desktop
  height: 100%
  margin-right: auto
  margin-left: auto

// You can generate more efficient CSS if you set this to false
// and manually apply the zen-grid-item-base() mixin to all
// grid items (and flow items) from within a single ruleset
$zen-auto-include-item-base: false

// Suppress this section of CSS for RTL layouts since it contains no CSS that
// needs RTL-specific overrides.
@if $zen-reverse-all-floats == false
  // Apply the shared properties of grid items in a single, efficient ruleset
  #header,
  #icing,
  #content,
  #navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  #footer
    // See the note about $zen-auto-include-item-base above
    +zen-grid-item-base()

  // Containers for grid items and flow items
  #header,
  #main,
  #footer
    +zen-grid-container()

  // Navigation bar
  #navigation
    &.no-top-bar
      top: 0
    // Move the navbar up inside #main's padding
    position: absolute
    top: $top-bar-height
    right: 0
    z-index: 11
    width: 100%
    height: 100%
    max-height: $navigation-height
    @media all and (max-width: $container-mobile-max)
      &.no-top-bar
        top: $header-height
      top: ($top-bar-height + $header-height)
      right: initial
      left: 0

  // End of @if $zen-reverse-all-floats == false



#page
  // Anchor absolute positioned elements in the document flow, i.e Navigation
  position: relative

@media all and (min-width: $container-tablet)
  // Sidebar (Left) + Content
  .sidebar-first
    #content
      +zen-grid-item(9, 4)
    .region-sidebar-first
      +zen-grid-item(3, 1)

  // Sidebar (Right) + Content
  .sidebar-second
    #content
      +zen-grid-item(9, 1)
    .region-sidebar-second
      +zen-grid-item(3, 10)

  // Both Sidebars
  .two-sidebars
    #content
      +zen-grid-item(9, 4)
    .region-sidebar-first
      +zen-grid-item(3, 1)
    // Sidebar (Right) flows below content in it's own row on smaller screens
    .region-sidebar-second
      +zen-grid-item(12, 1)

@media all and (min-width: $container-tablet) and (max-width: $container-tablet-max)
  .region-sidebar-second
    +zen-clear()
    +zen-nested-container()
    // All blocks in Sidebar (Right) as blocks, divided into thirds
    .block
      +zen-grid-item-base()
    // First block (grid item) in row
    .block:nth-child(3n+1)
      +zen-grid-item(4, 1)
      +zen-clear()

    // Second block (grid item) in row
    .block:nth-child(3n+2)
      +zen-grid-item(4, 5)

    // Third block (grid item) in row
    .block:nth-child(3n)
      +zen-grid-item(4, 9)

@media all and (min-width: $container-laptop)

  // Sidebar (Left) + Content
  .sidebar-first
    #content
      @include zen-grid-item(9, 4)
    .region-sidebar-first
      @include zen-grid-item(3, 1)

  // Sidebar (Right) + Content
  .sidebar-second
    #content
      @include zen-grid-item(9, 1)
    .region-sidebar-second
      @include zen-grid-item(3, 10)

  // Both sidebars
  .two-sidebars
    #content
      @include zen-grid-item(8, 3)
    .region-sidebar-first
      @include zen-grid-item(2, 1)
    .region-sidebar-second
      @include zen-grid-item(2, 11)
